[2017-07-24 05:10] Sunitashelar opened #2 "Sunbird website - generic comments"
1) The font colour on the internal pages should be 5% darker?
2) Increase the font size on the tiles of the documentation landing page.
3) The font type on the Contact page is different from the rest of the site. It should be made consistent.
4) the ''Contact" tab on the header should be modified to 'Contact Us'.
5) the links from the footer do not work
6) pages provided have not been linked.

[2017-07-24 05:24] Sunitashelar opened #3 "Website - home page"
1) Fix the header on the home page. It should always be visible even when the user scrolls the page.
2) Remove the social media icons in the footer for now as there are no pages to corroborate them.
3) Remove the testimonial from the footer for now.
4) Maintain the same font for 'Search' as the rest of the header text
5) Search does not work.

[2017-07-24 05:28] Sunitashelar opened #4 "website - About page"
1) The 'show more / show less ' link should be the same colour as the header. Or make it bold. Its getting lost in the text.

[2017-07-24 05:30] Sunitashelar opened #5 "Website - Architecture page"
1) the left nav pane needs to be built.
2) All architecture pages need to be reflected.
3) all pages to be linked from the left nav pane

[2017-07-24 09:58] Sunitashelar opened #6 "Website - Developer Documentation & Product Features pages"
1) The developer documentation and Product Features pages have not been linked

[2017-07-24 09:59] Sunitashelar opened #7 "Website - Participate page"
1) Modify page title to 'Participate'
2) Link Participate page to Contact Us page

[2017-07-25 12:27] lakhanmandloi commented on #7
Hi,

1. Modified Page title
2. Add a link to Contact Us page at bottom

[2017-07-25 12:27] #7 closed

[2017-07-25 12:46] lakhanmandloi commented on #4
Made it bold and color changed to header dark blue.

[2017-07-25 12:46] #4 closed

[2017-07-25 12:49] lakhanmandloi commented on #6
Updated

[2017-07-25 12:49] #6 closed

[2017-07-25 12:50] lakhanmandloi commented on #5
Done.

[2017-07-25 12:50] #5 closed

[2017-07-25 13:02] lakhanmandloi commented on #2
1) Color made bit more darker
2) Font size increased
3) WIP
4) Contact renamed to contact us
5) Functional Now
6) WIP

[2017-07-25 13:14] lakhanmandloi commented on #3
1) WIP
2) Social mediaicons removed
3) testimonial removed
4) Done
5) Once all content is in place search data will be indexed

[2017-07-25 13:21] parthlawate opened #11 "Setup Freshdesk Contact page"

[2017-07-25 13:21] lakhanmandloi commented on #3
1) Sticky Header Done

[2017-07-26 03:51] dhayalram123 opened #14 "Link not reachable"
In documentation mentioned 2 links for docs and demo for the platform

1) [https://demo.open-sunbird.org/](https://demo.open-sunbird.org/)
2) [https://docs.open-sunbird.org/](https://docs.open-sunbird.org/)

Both the links are not reachable. Can you help us here!

[2017-07-26 06:02] parthlawate commented on #14
Where should this be going @kochhar @vrayulu ?

[2017-08-28 14:13] lakhanmandloi opened #20 "Docker Image with Alpine base"

[2017-08-29 05:10] vrayulu commented on #14
@parthlawate - the demo of the platform should be going to https://staging.open-sunbird.org..

@kochhar - is there a separate docs site available?

[2017-08-29 11:17] surendrasinghs opened #22 "Sunbird.org : certain parts of the website are not working"
- [x] Certain parts of the website are not working with new domain.

sunbird.org/architecture
sunbird.org/apis
sunbird.org/developer-docs

sunbird.org/features-documentation - seems to be working (static content)

- [ ] The favicon is also outdated / not as expected

[2017-08-29 11:19] kochhar commented on #22
Hi @parthlawate, @lakhanmandloi: the documentation site is having some problems when accessed from sunbird.org instead of open-sunbird.org. Could you please take a look?

[2017-08-29 11:20] kochhar commented on #2
@Sunitashelar can you please verify the fixes and close this issue?

[2017-08-29 11:20] kochhar commented on #3
@Sunitashelar could you please verify the fixes and close this issue?

[2017-08-29 11:21] kochhar commented on #11
@lakhanmandloi is this done or still pending?

[2017-08-29 11:34] lakhanmandloi commented on #22
Hi @surendrasinghs @kochhar @parthlawate
Seems to be some server related issue. Even i was unable to open any page of site for some time. Now it seems to up and working. Can you please cross check ?

[2017-08-29 11:38] lakhanmandloi commented on #22
Hi @surendrasinghs @kochhar
Can we use the same favicon as of this site ? - https://staging.open-sunbird.org

[2017-08-29 11:39] lakhanmandloi commented on #11
@kochhar Yes this is done. Here is link - http://sunbird.org/contact/
Marking it closed. Thanks!

[2017-08-29 11:40] #11 closed

[2017-08-29 11:49] surendrasinghs commented on #22
@lakhanmandloi @kochhar Yes, it seems intermittently working.

Favicon : No, it cannot be same as staging open-sunbird. Please take it from Prasad in design team.

[2017-08-29 15:02] kochhar commented on #22
@lakhanmandloi yes, the server was non-responsive. I have hupped it and it's back up. devops will be adding some monitoring as well

[2017-08-29 15:03] kochhar commented on #14
docs to the documentation link: http://open-sunbird.org/docs/

[2017-08-29 16:51] parthlawate commented on #14
I think the docs team should be able to update that directly but we will need a deployment when they change that. @Sunitashelar should be able to do that. @lakhanmandloi pls assist

Also note that we do have the direct domain mapped now http://sunbird.org So @vrayulu you should be able to map the demo links etc from there too

[2017-08-29 16:53] parthlawate commented on #22
All working fine for me now @lakhanmandloi pls coordinate with prasad for any assets you need. You have met him today :)

[2017-08-29 16:59] parthlawate commented on #3
Search is still pending. @lakhanmandloi I suggest we comment it out for now and come back to this once the NTP site urgency is out of the way. @kochhar Does that make sense ? Since we have used the base code in a little different way than they intended the indexer is not working as expected out of the box.

[2017-08-30 04:00] kochhar commented on #3
thanks @parthlawate, seems reasonable in the interim. please do add an issue to track the re-addition of search.

[2017-08-30 04:41] parthlawate opened #23 "Setup Search and indexing for Documentation site"

[2017-08-30 10:53] mohitga opened #24 "Add "UP Board" as board for NTP sunbird"
Please add "UP Board" as a value in the board field in NTP.
Source Alia.

[2017-08-30 10:54] mohitga commented on #24
@vrayulu please take in this weeks deployment

[2017-08-30 11:21] aliaali commented on #24
Thanks, We have dependency for around 300 content coming on to NTP prod in time for Sept 5.

[2017-08-31 05:38] vinod303 opened #25 "Footer Text in https://staging.ntp.net.in"
Observed the following in the   https://staging.ntp.net.in  while testing.
 While creating a lesson, the footer says the following

"By proceeding you agreed to make all lesson created through authoring
tool or uploaded on the Ek Step platform to be available under licence
CC-BY 4.0 "

1) I think we have stopped calling "Authoring Tool"
2)Also, pls. see Ek Step(a space in between)

[2017-08-31 05:40] vinod303 opened #26 "NTP - browser compatibility"
If the platform works better in Chrome, i think we should display that somewhere as it shown here http://mhrd.gov.in/.
The browser crashed couple of times while testing(https://staging.ntp.net.in)  couple of days back

[2017-08-31 05:42] vinod303 opened #27 "Login Page title shows - Login to Sunbird"
in the Login page - (
https://staging.ntp.net.in/auth/realms/sunbird/protocol/openid-connect/auth?client_id=portal&state=d1208a96-f76e-4843-805d-9cedf5d5f9d9&redirect_uri=https%3A%2F%2Fstaging.ntp.net.in%2Fprivate%2Findex%3Fauth_callback%3D1&scope=openid&response_type=code#!/content/edit/do_2123206859170365441741
)

the page title (ie. the title meta tag ) says - "Login to Sunbird "
Shouldn;t be

[2017-08-31 05:44] vinod303 opened #28 "Search Box is disabled sometime"
Observed the following
- Login to NTP Stage (https://staging.ntp.net.in)
- Click on the Top right round image
- From the pulldown ->Click on Workspace
- Notice the Search box is disabled/nothing can be typed

[2017-08-31 07:34] deepshikha2k5 opened #29 "Listing all the Licenses in open sunbird"
Please lists all the third party licenses. @kochhar @vrayulu

[2017-08-31 08:48] deepshikha2k5 opened #30 "Resource bundle for login screen"
Please share the multilingual string for login screen. @kochhar

[2017-08-31 08:49] kochhar commented on #2
Closing this issue. @Sunitashelar please create a fresh issue if items are pending.

[2017-08-31 08:49] #2 closed

[2017-08-31 08:49] #3 closed

[2017-08-31 08:49] kochhar commented on #20
@lakhanmandloi can we close this if Docker is not a hard req.

[2017-08-31 08:56] kochhar commented on #30
Here is the resource bundle. These will need to be localised. Please select only the relevant strings from lines 1-97

https://github.com/keycloak/keycloak/blob/master/themes/src/main/resources/theme/base/login/messages/messages_en.properties

[2017-08-31 08:59] kochhar commented on #30
Also please add

locale_te=<Telegu in telegu script>
locale_ta-IN=<tamil in tamil script>
locale_hi_IN=<hindi in devanagari script>

[2017-08-31 09:12] kochhar commented on #29
Keycloak - Apache License 2.0
MongoDB Drivers - Apache License 2.0
PostgreSQL Drivers - ??
Cassandra Drivers - ??

[2017-08-31 09:22] harishgilimi commented on #29
## Node Modules:

    "async": "^2.5.0",
    "body-parser": "^1.17.2",
    "connect-mongo": "^1.3.2",
    "dateformat": "^2.0.0",
    "eslint": "^3.19.0",
    "express": "^4.15.3",
    "express-http-proxy": "^1.0.6",
    "fine-uploader": "^5.14.5",
    "gulp-ng-config": "^1.4.0",
    "js-md5": "^0.5.0",
    "jsonwebtoken": "^7.4.1",
    "keycloak-connect": "3.2.0",
    "lodash": "^4.17.4",
    "re

[2017-08-31 09:28] manzarul commented on #29
**Cassandra** -

groupId -com.datastax.cassandra
artifactId -cassandra-driver-core
version -3.1.0

groupId -com.datastax.cassandra
artifactId -cassandra-driver-mapping
version -3.1.0

groupId -com.fasterxml.jackson.core
artifactId -jackson-databind
version -2.9.0.pr3

[2017-08-31 09:29] manzarul commented on #29
**ElasticSearch**-

groupId -org.elasticsearch.client
artifactId -transport
version -5.4.3

[2017-08-31 09:30] manzarul commented on #29
**Akka Actor**

groupId -com.typesafe.akka
artifactId -akka-actor_2.11
version -2.5.1

groupId -com.typesafe.akka
artifactId -akka-slf4j_2.11
version -2.5.1

groupId -com.typesafe.akka
artifactId -akka-remote_2.11
version -2.5.1

groupId -com.typesafe.akka
artifactId -akka-testkit_2.11
version -2.5.3

[2017-08-31 09:31] manzarul commented on #29
**Quartz Job**
groupId -org.quartz-scheduler
artifactId -quartz
version -2.2.1

groupId -org.quartz-scheduler
artifactId -quartz-jobs
version -2.2.1

[2017-08-31 09:32] manzarul commented on #29
**Postgresql**
groupId -org.postgresql
artifactId -postgresql
version -42.1.4

[2017-08-31 09:37] manzarul commented on #29
**keyCloack**
groupId -org.keycloak
artifactId -keycloak-admin-client
version -3.2.0.Final

groupId -org.jboss.resteasy
artifactId -jaxrs-api
version -3.0.11.Final
groupId -org.jboss.resteasy
artifactId -resteasy-client
version -3.1.0.Final

[2017-08-31 09:37] manzarul commented on #29
**Azure**
groupId -com.microsoft.azure
artifactId -azure-storage
version -5.4.0

[2017-08-31 09:38] manzarul commented on #29
**Email Service**
groupId -org.apache.velocity
artifactId -velocity-tools
version -2.0

groupId -javax.mail
artifactId -javax.mail-api
version -1.5.1

groupId -com.sun.mail
artifactId -javax.mail
version -1.6.0

[2017-08-31 09:41] manzarul commented on #29
**Play framework**

groupId -com.googlecode.json-simple
artifactId -json-simple
version -1.1

groupId -com.typesafe.play
artifactId -play_2.11
version -2.4.6

groupId -com.typesafe.play
artifactId -play-netty-server_2.11
version -2.4.6

groupId -com.typesafe.play
artifactId -play-specs2_2.11
version -2.4.6

groupId -org.scala-lang
artifactId -scala-library
version -2.11.8

[2017-08-31 09:41] manzarul commented on #29
**Others**

groupId -junit
artifactId -junit
version -RELEASE

groupId -com.google.code.gson
artifactId -gson
version -2.2.2

groupId -com.fasterxml.jackson.core
artifactId -jackson-core
version -2.8.9

groupId -com.fasterxml.jackson.core
artifactId -jackson-databind
version -2.8.9

groupId -com.opencsv
artifactId -opencsv
version -3.8

groupId -org.powermock
artifactId -powermock-api-mockito
vers

[2017-08-31 12:00] sferoz commented on #29
team - Please create a file third-party-licenses.md in the repo and add this there. Also, please include top level important dependencies and their license like Shailesh has done. The primary intent is to find the nature of licenses.

[2017-08-31 12:43] kochhar commented on #29
Also, we need to filter out the runtime dependencies -- build and test deps (like junit, gulp) should be separated out.

[2017-09-01 09:17] nawabahmadreshi opened #31 "Deployment Architecture"
@steotia
Please find two files for installation procedures.
1 . Small scale deployment process
2. Large Scale deployment process.

You can start your content adding here :
sunbird-commons/Hackathon/smallmedium_deploy_process.md
sunbird-commons/Hackathon/largescale_deploy_process.md

[2017-09-01 09:24] nawabahmadreshi opened #32 "About Extending Sunbird"
@kochhar @vrayulu
Can you please add the required information to the file :
https://github.com/project-sunbird/sunbird-commons/blob/master/ingredients/developer-docs/extend_sunbird_overview.md

[2017-09-01 10:45] vinod303 opened #33 "Sunbird - home page links are not working"
in http://open-sunbird.org/  -  the  links in the  home pages (NOT THE TOP MENU)  are not working.

[2017-09-03 14:22] kochhar commented on #33
hi @lakhanmandloi can you please check and fix

[2017-09-03 14:34] lakhanmandloi commented on #33
@vinod303 @kochhar Hi, I am unable to replicate this issue. Can you please share exact links and there position on page?

[2017-09-03 15:46] vinod303 commented on #33
@lakhanmandloi  http://open-sunbird.org/
On the home page , there are links along with description as below; in this case "About Sunbird". Those links are not working

![image](https://user-images.githubusercontent.com/15699608/30004448-fd7acaa6-90ec-11e7-9f89-ca7b765fdeee.png)
@kochhar

[2017-09-03 16:11] lakhanmandloi commented on #33
@vinod303 Was able to replicate. Sometimes it works while sometimes it doesn't. Although it is a simple html a tag. Will try to debug the same in details and update you. @kochhar @parthlawate

[2017-09-03 16:41] parthlawate commented on #33
Working for me..

[2017-09-04 12:17] nawabahmadreshi opened #34 "Developer installation , Sandbox Installation"
We need to put up this guys.
I want to try Sunbird. ------ Sandbox installation.
I want to contribute code ------developer installation
@kochhar @vrayulu

[2017-09-06 05:28] kochhar opened #35 "Link from docs site to github project is needed"
@lakhanmandloi

The sunbird.org home page needs to be updated to have a link to the github repositories.

1. Update the section with the github+source-code image to read "Full documentation available on github" to read "Fully open-source, check out the source on github" with a link to the project-sunbird github. (https://github.com/project-sunbird)
1. Add another link to the top navigation-bar tit

[2017-09-06 06:02] nawabahmadreshi opened #36 "About Plugins"
https://community.ekstep.in/developer-knowledgebase/111-how-do-i-think-about-a-plugin
Is this all we have about plugins? @kochhar

I don't feel this provides comprehensive information about plugins .Please provide point of contact for the same if you can .

[2017-09-06 06:08] kochhar commented on #36
The link to the documentation on creating a plugin is on the same page.

On Wed, Sep 6, 2017 at 11:32 AM Nawab <notifications@github.com> wrote:

[2017-09-06 06:13] nawabahmadreshi commented on #36
fine will check it , thank you .

[2017-09-06 06:14] #36 closed

[2017-09-06 09:53] Basreena opened #37 "Inconsistency in labels across Diksha"
The following changes have to be made across screens and forms in Diksha:
**Creating Book:**
1) Label name **Title** has to be changed to **Name**
2) Label name **Board** has to be changed to **Curriculum**
3) Label name **Grade** has to be changed to **Class**
![untitled book](https://user-images.githubusercontent.com/30038417/30309542-795840b4-97a9-11e7-8f26-0742f2c144bf.png)
4) Label name **Tex

[2017-09-06 10:30] harshithaks opened #38 "Adding members to repo's on sunbird"
Please add Design@EkStep team to the following repo's:

sunbird documentation
Sunbird app 
Sunbird community interactions
Sunbird consumption of courses on web, profiles.

Let me know when this is done.

@kochhar

[2017-09-06 11:29] kochhar commented on #38
Hi @harshithaks. Design@EkStep team does not exist as yet in sunbird. Could you please create the team and add the people to it? I have sent you an invitation to join the project with admin rights

[2017-09-06 11:30] kochhar commented on #37
@vrayulu we can move this issue to sunbird-portal repo.

[2017-09-07 05:41] deepshikha2k5 opened #39 "Error message list for UI relevance"
Please provide us with the list of all error messages, relevant for the UI. Below is the link for all the error messages lists:

https://docs.google.com/spreadsheets/d/1qrXFCiqQ9SOyUXVg13HWfRJzv35VJQCWZhmkK1Qf7Es/edit#gid=0

 @harishgilimi , @vrayulu

[2017-09-07 06:13] harshithaks commented on #38
@kochhar Will do. Thank you!

[2017-09-07 06:24] harshithaks commented on #38
@kochhar I don't have "invite member" access on this organisation. Unable to add members to the team.

[2017-09-07 06:32] Sunitashelar commented on #35
@kochhar,@lakhanmandloi,@nadayogi
we are working towards revamping the sunbird.org site. the site information architecture, design and navigation are undergoing a change. we will take up these changes in the revamped design. Looking to implement the changes within 2 weeks.

[2017-09-07 09:20] #20 closed

[2017-09-07 09:21] lakhanmandloi commented on #22
@PrasadSandbhor Hi Prasad. Can we get favicon for this site?

[2017-09-07 09:25] lakhanmandloi commented on #26
@vinod303 Can you please confirm on which browser you faced the issue? @kochhar @parthlawate

[2017-09-07 09:32] lakhanmandloi commented on #31
@kochhar @nawabahmadreshi @Sunitashelar content from these files, Are they intended to go on Sunbird documentation site http://open-sunbird.org/ ?

cc @parthlawate

[2017-09-07 09:35] nawabahmadreshi commented on #31
@lakhanmandloi
Yes, there is change in these files, I will be updating the files by tomorrow EoD,

[2017-09-07 09:52] lakhanmandloi commented on #35
@Sunitashelar Noted. Thanks! :)

cc: @parthlawate

[2017-09-07 09:59] vinod303 commented on #26
@lakhanmandloi  - firefox 52.0 - this was about a week back

[2017-09-07 10:02] parthlawate commented on #35
@Sunitashelar Is the Info Arch for the Documentation section changing as well or only the main site and landing pages ?

As some refactoring we want to do to simplify the Jeckyl piece which is dependent on the Documentation Info Arch

[2017-09-07 10:06] kochhar commented on #35
@Sunitashelar Please do incorporate navigation to the sunbird source as an element when redesigning the site navigation.

However, changing one line of text and adding a link is:
a. urgently needed as a bug-fix
a. relatively minor
a. independent of the site design and information architecture revamp

Please do not make this dependent on the site revamp.

@lakhanmandloi

[2017-09-07 10:12] kochhar commented on #31
these files will move from the Hackathon directory and into the main documentation structure. @nawabahmadreshi and @lakhanmandloi can determine the best location.

[2017-09-07 10:18] lakhanmandloi commented on #35
@kochhar will send updated code in some time.

[2017-09-07 10:55] lakhanmandloi commented on #31
@nawabahmadreshi where do we want to show this page? and when this page is expected to show? I mean is it urgent or okay if goes after 2-3 weeks with new designs.

[2017-09-07 11:03] nawabahmadreshi commented on #31
@lakhanmandloi
Yes this is important and highly prioritised section. I will complete it by tomorrow and, I will also let you know where this section needs to be put in. I hope this will answers your question.

[2017-09-07 12:00] lakhanmandloi commented on #35
@Sunitashelar  @nawabahmadreshi The compiled output of latest documentation seems to be broken. and can be seen on http://sunbird-trial.s3-website.ap-south-1.amazonaws.com/architecture/. We need to fix it.

@kochhar Providing you the old site version which is currently deployed on live with following changes -
1. changes asked by you
2. Removing search - as currently it is not functional
you can c

[2017-09-07 12:05] lakhanmandloi commented on #35
@kochhar link to download for this version - https://drive.google.com/open?id=0B27vogzDj2QROVZBTDdwNFBZRGs

[2017-09-07 12:25] nawabahmadreshi commented on #35
@lakhanmandloi we will check the linking and fix it asap

[2017-09-08 06:29] nawabahmadreshi opened #40 "Need Information (Highly priortised)"
@vrayulu @kochhar

Kindly,complete the missing sections

https://github.com/project-sunbird/sunbird-commons/blob/master/Hackathon/Architecture.md

[2017-09-08 09:44] bangaloreprasad opened #41 "Unable to add mentors or members to a batch for a course"
Team,

I logged in as a course mentor, searched for a course and added a batch. However, am not able to add either mentors or members to the batch.

Thanks,
Prasad
![issue_unable to add mentors or members to a batch](https://user-images.githubusercontent.com/25506743/30205995-4e51f4c2-94a8-11e7-85d0-c1df1f294fb1.png)

[2017-09-08 11:14] lakhanmandloi opened #42 "Circle CI Automation"

[2017-09-11 08:19] Jayaprakash8887 opened #43 "Resource Multiselect not working during course creation"
Dear Team,

Resources multiselect during course creation is not working. Only one content gets added to course even though more than one resources are selected and clicked to Add.

Warm regards,
JP

[2017-09-11 08:23] Jayaprakash8887 opened #44 "Course Save issue"
Dear Team,

While saving a 'Course' during course creation, getting a error message 'Please update collection details before save'. Not understanding the issue. Course details are filled and saved.

Warm regards,
JP

[2017-09-11 08:29] #44 closed

[2017-09-11 17:59] bangaloreprasad opened #45 "Burger menu obstructing the content in the background"
Team,

The burger menu is obstructing the content in the background.

Suggestion: the menu be made to appear on swipe from left corner. A tab like protrusion can be made to appear on the side.

Thanks,
Prasad[
![issue_hamburger_menu_obstructing_details](https://user-images.githubusercontent.com/25506743/30289206-0a5ad90c-9749-11e7-81d7-fe6d7d6f5369.png)
](url)

[2017-09-12 04:41] bachia commented on #34
+1

Can you please provide instructions on how to install and host Sunbird on my own server? Thank you.

[2017-09-12 08:42] Jayaprakash8887 opened #46 "Issue while saving content metadata"
Dear Team,

Couple of issues noticed while saving content metadata.

Steps:
1. Upload a Content and click 'Edit details'
2. Fill only few of all mandatory fields and click 'Save'

Issues:
1. Message stating which other mandatory fields are missing data
2. Fields filled doesnt get committed into the system. (Close content and re-open content to check metadata)

Warm regards,
JP

[2017-09-13 05:51] Jayaprakash8887 opened #47 "Content displayed in all uploads after review submission"
Dear Team,

Go to All Uploads
Submit a Content for Review
Submitted content gets listed in 'All uploads' after content editor closes on Review Submission

Warm regards,
JP

[2017-09-13 06:08] Jayaprakash8887 opened #48 "Critical!! Confusion between 'Content Type' and 'Resourse Type'"
Dear Team,

While uploading a content, metadata displays 'Resourse Type' as a mandatory field. But in filters in 'Library' menu has 'Content Type' as a search parameter. Values of both lists are different. When I fech details of a content through API, I can see both parameters for a content: 'contentType' and 'resourseType'. Need to sort this in application.

Warm regards,
JP

[2017-09-13 06:35] Jayaprakash8887 opened #49 "Values Sorting for all dropdowns"
Dear Team,

Values in all dropdowns should be sorted in proper order. (Alphabetically or otherwise).

Warm regards,
JP

[2017-09-13 06:54] Jayaprakash8887 opened #50 "dropdown value navigation issue."
Dear Team,

Go to 'Edit Details' of a content.
click on 'Subject'
click 'M' to navigate through the list with values stating with 'M' (Ex: Malayalam, Marathi, Mathematics...)

Navigation is not happening through all values.

Warm regards,
JP

[2017-09-13 07:22] kochhar commented on #35
closing as link is added.

[2017-09-13 07:22] #35 closed

[2017-09-13 08:28] Jayaprakash8887 opened #51 "'All' option required in 'Board' dropdown for content"
Dear Team,

Please add 'All' option as an option to 'Board' dropdown.

Warm regards,
JP

[2017-09-13 09:15] Jayaprakash8887 opened #52 "Filter section UI issue in course creation"
Dear Team,

Go to Workspace --> Create new course --> Click on Add a story/collection/worksheet --> Filter section in the search modal window is cluttered.

Warm regards,
JP

[2017-09-13 09:28] Jayaprakash8887 opened #53 "Filter search issue in 'Library'"
Dear Team,

Go to 'Library' menu --> click on 'Filters' --> Click on 'Medium'

1. One can select multiple mediums. Is this correct functionality?
2. If #1 is Yes, then search is not working when multiple values are selected.

Warm regards,
JP

[2017-09-13 12:02] Jayaprakash8887 opened #54 "Critical! User creation API failing"
Environment: NTP Production.

Tried to create a user through postman(details below). On first request, got service error, On subsequent requests getting 'username/email already exists' error. Not able to find the user/email in the user list query. However, able to login using the emailid.

"firstName": "Bindu",
"lastName": "Thirumalai",
"provider":"tiss",
"email": "bindu.thirumalai@tiss.edu",
"use

[2017-09-13 14:39] bangaloreprasad opened #55 "Creating a course - Saving course is leading to "Send for Review""
Team,

A course I created, when saved is going straight into to Review Submissions section.

Thanks,
Prasad

[2017-09-14 04:24] Abhign opened #56 "Unable to update the profile name"
1. In Dikasha i  am trying to update my profile name it is giving an error "Enter first name" after giving the first name also.
2. I am unable to update email id and phone number as well.

![image](https://user-images.githubusercontent.com/19143783/30412050-9844eaf6-9932-11e7-8ef4-8ff4f03ead04.png)

@vrayulu @Meethaz

[2017-09-14 06:59] bangaloreprasad opened #57 "Cannot add concepts after uploading a pdf file"
Team,
Am not able to add concepts after uploading a pdf file.

Thanks,
Prasad

[2017-09-14 08:41] nawabahmadreshi opened #58 "Community APIs on website"
@lakhanmandloi
We dont have "communities" in this release of Sunbird. Kindly delete the same.
Also,  kindly note that API documentation is in progress. Since, APIs have changed and same will be provided to you after being reviewed by @Sunitashelar @kochhar
Link for your reference
http://sunbird.org/apis/core
cc @Sunitashelar

[2017-09-14 08:46] kochhar commented on #58
suggest we delete the source swagger files till we are ready to make them
live. the community APIs (under core APIs) are still evolving.

On Thu, Sep 14, 2017 at 2:11 PM Nawab <notifications@github.com> wrote:

[2017-09-14 17:25] lakhanmandloi commented on #58
@nawabahmadreshi @kochhar So Just to confirm -
I have to remove "Sunbird API"  Section from page - http://sunbird.org/apis/ so that nobody can access http://sunbird.org/apis/core/. or the entire API Documentation from - http://sunbird.org/docs/?

[2017-09-14 17:30] nawabahmadreshi commented on #58
@lakhanmandloi
Please keep sunbird API section as it is. You can link it to something which says " Sunbird APIs will be available soon".

[2017-09-14 18:24] kochhar commented on #58
Please only remove the link to the core APIs section. Please leave the
others in-place till we can review them.

On Thu, Sep 14, 2017 at 11:00 PM Nawab <notifications@github.com> wrote:

[2017-09-15 03:18] sferoz opened #59 "Sunbird API documentation contacts are incorrect"
The API documentation has website, contact email and IRC chat channel that are incorrect. Please verify and correct it. Below is the current sample.

http://sunbird.org/apis/core/#

[2017-09-15 03:25] nawabahmadreshi commented on #59
@sferoz
I have added all necessary information to the API headers. This API isn't meant to go live as of now, since communities part is under process, we have directed @lakhanmandloi to de-llink till APIs are throughly reviewed and the process will take  2-3 days.

[2017-09-15 03:33] kochhar commented on #34
@bachia thanks for your patience. we've added documentation on setting up the sunbird frontend application, it'll be published to sunbird.org/docs shortly.

You can find the current doc: https://github.com/project-sunbird/sunbird-commons/blob/master/pages/developer-docs/install_sunbird.md

Please do let us know if install does not go as expected by following the instructions. Happy to help you get

[2017-09-15 04:32] Abhign commented on #57
@bangaloreprasad i am able to add the concepts for all the uploads..

[2017-09-15 04:35] Abhign commented on #55
@bangaloreprasad this issue is fixed.

[2017-09-15 04:44] Abhign commented on #53
@Jayaprakash8887
1. One can select multiple mediums. Is this correct functionality?
Ans:- True that is feature how it is developed.
2. If #1 is Yes, then search is not working when multiple values are selected.
Ans:- search is working fine, it is not replaceable.

[2017-09-15 04:51] Abhign commented on #52
@Jayaprakash8887 this issue got fixed in the last release, now i have check it is not replaceable.

[2017-09-15 04:57] Abhign commented on #51
@Jayaprakash8887 ,This is an enhacement.
Product Manager need to check.

[2017-09-15 05:01] Abhign commented on #50
QA team has verified.Will be added to the issue list.

[2017-09-15 05:03] Abhign commented on #49
This is known issue to QA. Will be fixed in upcoming release

[2017-09-15 05:05] Abhign commented on #48
This is an improvement.
Will be enhanced

[2017-09-15 05:08] Abhign commented on #47
Known issue to QA.
Will be fixed in upcoming releases

[2017-09-15 05:13] Abhign commented on #46
User expects errors should be displayed on the pop up.
This is an improvement.

[2017-09-15 05:32] Jayaprakash8887 commented on #53
Issue has got fixed

[2017-09-15 05:32] #53 closed

[2017-09-15 05:32] Abhign commented on #45
@bangaloreprasad This is the known issue UI team is looking in to it.

[2017-09-15 05:35] Jayaprakash8887 commented on #43
Issue is fixed

[2017-09-15 05:35] #43 closed

[2017-09-15 05:40] juthikaqa commented on #41
Invalid- Works fine on Diksha
- I have already discussed and demonstrated on Diskha . it works fine.
On Staging we have issue and It's known to QA. Even I sent an email to issue reporter stating that once it's fixed on Staging I will inform him so that he can on staging

[2017-09-15 05:54] #59 closed

[2017-09-15 05:59] nawabahmadreshi commented on #58
@lakhanmandloi  , I have edited the html files for APIs , I have just made a slight change i.e

I have set  file-path as comment.

Can you please rebuild the website .

[2017-09-15 06:03] Abhign commented on #24
@mohitga This issue is resolved hence i am closing this issue..

[2017-09-15 06:23] #24 closed

[2017-09-15 08:47] bangaloreprasad commented on #41
Staging is also equally important as we have activities, which restrict us from using the live (Diksha) environment.

This issue is open for over a week on staging. Hope it is resolved sooner.

[2017-09-15 08:49] bangaloreprasad commented on #55
@Abhign Thank you.

[2017-09-15 08:49] #55 closed

[2017-09-15 08:50] bangaloreprasad commented on #57
@Abhign Thank you.

[2017-09-15 08:50] #57 closed

[2017-09-15 08:55] juthikaqa commented on #25
@vinod303 PMs need to check this issue

[2017-09-15 08:58] juthikaqa commented on #27
Now it's "Login to DIKSHA"

[2017-09-15 08:59] juthikaqa commented on #28
@vinod303 , it's not an issue. By design it's disabled

[2017-09-15 09:25] lakhanmandloi commented on #58
@kochhar @nawabahmadreshi Can you pls confirm this is okay? - http://sunbird.cloudaccess.host/apis/

[2017-09-15 09:52] lakhanmandloi commented on #58
@kochhar link to zip - https://drive.google.com/open?id=0B27vogzDj2QRajdXTkJrczRBQm8
This zip also includes Google Analytics integration

[2017-09-15 10:21] #28 closed

[2017-09-15 10:22] Abhign commented on #27
@vinod303 This issue is fixed hence i am closing this issue.

[2017-09-15 10:22] #27 closed

[2017-09-15 11:07] Abhign commented on #25
@vinod303 There is no space between EkStep..

[2017-09-15 11:07] #25 closed

[2017-09-15 14:10] nawabahmadreshi commented on #58
@lakhanmandloi, This is not right, I had removed the links to API swagger files in corresponding html pages and accordingly I had requested you to rebuild the website again.

What we intend to do is  that API hrefs  as on content  model API ,Composite search  API, Domain model API should not direct to any page as such till we get latest swagger files reviewed and approved.

[2017-09-16 03:43] bachia commented on #34
Awesome! Thank you @kochhar

Will work on setting up a sunbird frontend application this weekend. Will get back in case of any issues or questions.

@steotia , please share API key for accessing backend API's as appropriate. You can mail them directly to me at bachia@gmail.com

Thank you folks.

[2017-09-16 05:06] bachia commented on #34
@kochhar 👍  installed Sunbird Portal successfully on my comp. Thank you for those wonderful and clear instructions.

Sent a request for API key for accessing backend services. Shall update here once I get it.
![screen shot 2017-09-16 at 10 30 45 am](https://user-images.githubusercontent.com/2817641/30509289-ce4dda6a-9aca-11e7-80e6-5a481e03b2a5.png)

[2017-09-18 04:46] kochhar commented on #34
great to hear @bachia. all thanks to @harishgilimi and the portal-team who made this a smooth journey 👏

[2017-09-18 10:48] vinod303 commented on #33
@lakhanmandloi  the issue is with Firefox. It is working for me in Chrome when tested.

[2017-09-19 09:20] steotia commented on #34
@kochhar Please refer to @vrayulu for onboarding process going forward.
Spoke to @vrayulu and he will be generating a consumer and key for @bachia. Going forward we need to document how to get the key in a self service mechanism.

[2017-09-19 09:22] steotia opened #60 "[Installation] Basic sunbird installation"
Need
- automation
- documentation

to get
- basic Sunbird installation
- customize the appearance.

[2017-09-19 09:24] steotia commented on #34
@bachia spawning off https://github.com/project-sunbird/sunbird-commons/issues/60 to take care of server installation and simple customization of Sunbird (player + core services)

[2017-09-19 09:27] steotia commented on #60
@vrayulu Need documentation on how a Sunbird installation can hit the Ekstep Infra APIs (API consumer/channel onboarding).
@kochhar Need documentation on auth. setup.

[2017-09-19 09:27] nawabahmadreshi commented on #60
@steotia Basic Sunbird Installation (Developer Installation) is available .
here
https://github.com/project-sunbird/sunbirdcommons/blob/master/Hackathon/developer_installation.md

Regarding customizing appearance documentation , it is awaited.
@kochhar when can we expect this to be available .

[2017-09-19 09:29] steotia commented on #60
@nawabahmadreshi This issue is towards having a intermediate pre Production setup on a server. The README will be updated to cover this scenario.

[2017-09-19 09:30] nawabahmadreshi commented on #60
@steotia , fine . I thought this might help .

[2017-09-19 09:41] steotia commented on #60
Configuration will contain the URLs for media (logo, stylesheets, etc) overrides. The URLs could be CDN (recommended) URLs or picked from the filesystem. All Dockerfiles should have a configurable mount point (preferably /extensions) to pick media assets from the filesystem (/extensions/media) or binaries (/extensions/software).
The mount point to pick up media assets is not optimal since assets n

[2017-09-19 09:46] steotia commented on #60
Need one configuration file (key:value pairs) for each service - <service-name>.env.sample (YAML format) to be in a `/configurations` folder in each service repo. This sample file should contain possible configurations for service boot up with comments briefly describing the key.
Thoughts? @vrayulu

[2017-09-19 11:04] vrayulu commented on #54
@Jayaprakash8887 - i think this issue is resolved now. Please close if CreateUser is working now.

[2017-09-19 11:05] #54 closed

[2017-09-19 11:08] steotia commented on #60
These are the following steps for installation:

Lets assume there are 2 VMs:
(1) for all services
(2) for all DBs

Pre-reqs to figure out:
(1) OS
(2) capacity, e.g. 2 servers with 4 core, 4 GB RAM each, etc

1. Install various DBs (with links to respective DB installation scripts)
2. Clone the DevOps repository
3. Run DB init scripts cc @vrayulu (do we have these scripts?)
4. Edit configuration f

[2017-09-19 12:21] bachia commented on #34
Thank you @steotia. I shall watch #60 for updates and further instructions.

[2017-09-19 12:29] bachia commented on #34
@vrayulu Thank you for sending me API to access Sunbird services.

@steotia and @kochhar 👍  for your support.

[2017-09-21 06:56] mohitga commented on #41
@vrayulu please look into this issue?
I should be working on QA as well if it is working on Production,

[2017-09-21 10:46] shelarsunita opened #61 "Download pdf file"
Unable to download pdf files from resource library

[2017-09-22 08:44] steotia commented on #34
Please ref to https://github.com/project-sunbird/sunbird-commons/issues/60 for a platform deployment updates.
cc @bachia

[2017-09-22 11:01] steotia commented on #34
@bachia Would you be setting up on bare metal or a cloud provider? If a cloud provider, which one? We have some automation for Azure.

[2017-09-23 11:26] bachia commented on #34
@steotia apologies for the delay in getting back. I am afraid we are looking at all three scenarios i.e., bare metal, cloud provider (google cloud), and on Azure. Priority wise I will go with:

- Azure install documentation
- bare metal documentation
- Non Azure cloud installation. For example Google Cloud

Hope this helps. Do let me know in case of any other questions.

👍  for confirmation of Pla

[2017-09-26 04:29] steotia commented on #34
FYI testing the scripts. Will let you know when available.
We are now giving the complete package including Azure setup.

[2017-09-26 05:02] bachia commented on #34
👍  Nice. Thanks for the update @steotia

[2017-09-26 07:32] parthlawate opened #62 "[website] File not found error"
![image](https://user-images.githubusercontent.com/673176/30847915-e3e0f5b8-a2ba-11e7-910b-16867b9e0487.png)

[2017-09-27 04:03] bachia opened #63 "Sunbird mobile app build instructions"
Can you please provide instructions on how to build Sunbird Mobile App that can connect to my local sunbird backend services? This is for evaluation purposes and would appreciate your guidance. Please let me know if you need any other detail from my side.

[2017-10-02 05:26] steotia commented on #34
@bachia I have put in Installation steps at https://github.com/project-sunbird/sunbird-devops/blob/master/Installation.md
There are a few steps which are WIP. However, you can continue and reach a logical point before that and by that time we will have that completed.
I have also put in walkthroughs in between to help. If there is any other way or confusion, please update this issue.
cc @kirang20

[2017-10-03 02:26] steotia commented on #60
Installation steps at https://github.com/project-sunbird/sunbird-devops/blob/master/Installation.md

[2017-10-03 02:27] steotia commented on #60
Next steps:
- configuring keycloak
- customizing appearance

[2017-10-03 03:03] bachia commented on #34
Awesome! Thank you @steotia 👍

Will get started with installation shortly and keep you all updated here.

One quick question before I get started. If I am going to follow manual installation steps as outlined in the document, can I go with any cloud service provider say for example Google Compute Engine (GCE) instances? Thank you.

cc @kirang20 @endeepak @pramodkvarma @sferoz @Manojvv @coolbung @v

[2017-10-03 06:09] kirang20 commented on #34
@bachia Sure, you can use any cloud provider if you are setting up the servers manually.

cc @kirang20 @endeepak @pramodkvarma @sferoz @Manojvv @coolbung @vrayulu @mathewjpallan @madhucr

[2017-10-03 06:18] bachia commented on #34
Thank you @steotia

I have commissioned two servers with recommended specs. Completed DB server setup by following manual steps in the installation document.

Encountered couple of errors while running DBINIT script. The error message posted below is the second one. The first error was related to Cassandra init I think.

I am going ahead with app server setup. Do have a couple of questions. Will c

[2017-10-03 06:23] endeepak commented on #34
@bachia Are you running the DB init inside the DB server?

If yes, could you please check if postgres service is running by executing `ps -ef | grep postgres`

[2017-10-03 06:33] bachia commented on #34
@steotia , postgres seems to be in "active (exited)" status. Trying to figure out what's the reason.

[2017-10-03 08:00] endeepak commented on #34
@bachia `"active (exited)" ` is normal state for postgres service. I've checked the postgres status on our environments. Please make sure you are running init dbs script on the db-server

Can you please run below commands in db server and paste the output

[code]
![image](https://user-images.githubusercontent.com/310608/31115180-ef466bde-a83e-11e7-9c41-ac911e536c64.png)

[code]

![image](https://u

[2017-10-03 08:11] bachia commented on #34
@steotia , please find below both commands output below

![screen shot 2017-10-03 at 1 40 37 pm](https://user-images.githubusercontent.com/2817641/31115583-8e25cfaa-a840-11e7-8506-cca43367f9f2.png)

[2017-10-03 08:15] endeepak commented on #34
@bachia Please paste output from `sudo tail -100f /var/log/postgresql/postgresql-9.5-main.log`

[2017-10-03 08:37] bachia commented on #34
2017-10-03 07:07:45 UTC [23055-1] LOG:  could not bind IPv4 socket: Address already in use
2017-10-03 07:07:45 UTC [23055-2] HINT:  Is another postmaster already running on port 5432? If not, wait a few seconds and retry.
2017-10-03 07:07:45 UTC [23063-1] LOG:  database system was shut down at 2017-10-03 07:07:44 UTC
2017-10-03 07:07:45 UTC [23063-2] LOG:  MultiXact member wraparound protections a

[2017-10-03 08:45] bachia commented on #34
I think i got it @steotia

Looks like we have to define with ip with subnet mask

[2017-10-03 08:54] bachia commented on #34
OK...postgres issue is resolved. By defining subnet. But I have one more error with Cassandra data init.

Below error message is much longer...I just pasted a part of it. But you get the idea. Script complaining about indexes and columns already defined.

[2017-10-03 09:10] endeepak commented on #34
@bachia  Currently the db-init scripts throw few errors on re-run (they are not purely idempotent). If you see `ignoring errors` after the error, you can proceed further ignoring these errors.

@Manojvv @vrayulu Can you please check if above errors needs any fix

[2017-10-03 09:17] bachia commented on #34
👍  Thanks. I just reset my db server ran all three steps once again.

No postgres errors
Cassandra errors are there with "ignoring" message after the error.

Will move to app server setup now. Fingers crossed.

[2017-10-03 09:47] steotia commented on #34
@endeepak Pls confirm with @vrayulu once if the errors are new. I also encountered the same (on a fresh instance).

[2017-10-03 11:01] bachia commented on #34
@steotia , am all set to execute **STEP-4** scripts.

I am not sure what values should I provide for the following parameters in the config file:

- kong_host
- sunbird_sso_username
- sunbird_sso_password
- sunbird_api_auth_token (Says that the deploy-apis.sh outputs this key. Assuming this value is not required for running scripts in this step
- sunbird_ekstep_api_key (I suppose there are instruc

[2017-10-03 11:02] vrayulu commented on #34
fixed some issues in the cassandra.cql file... it will now work fine for a fresh install.

@bachia - can you please reset your cassandra DB once and run the init-dbs.sh file again...
To reset the cassandra DB, login to CQL shell and drop the keyspace using "DROP keyspace sunbird;"

[2017-10-03 11:04] bachia commented on #34
@vrayulu , sure. How about postgres? Will it fail when I rerun init-dbs.sh script?

[2017-10-03 11:09] vrayulu commented on #34
@bachia - Postgres update is idempotent. It will not have any issues.

[2017-10-03 11:34] bachia commented on #34
@vrayulu 👍  it worked. Script ran without any errors after pulling the latest files from git.

Thank you @steotia and @vrayulu once again for your timely help.

[2017-10-03 12:10] bachia commented on #34
@steotia. Encountered following errors while executing deploy_apis.sh script.

[2017-10-03 12:36] endeepak commented on #34
@bachia Please run below commands in app-server and paste the output

[code]

[2017-10-03 12:41] bachia commented on #34
@endeepak , here we go

[2017-10-03 12:48] endeepak commented on #34
@bachia Please try re-running deploy_apis.sh.

The onboard API step in the script might not have waited till API manager  service  started.

[2017-10-03 12:59] bachia commented on #34
@endeepak 👍

I got three errors which script ignored and moved on. Looks like this script did it's job

[2017-10-03 13:01] endeepak commented on #34
@bachia Thanks for confirming. We'll fix the script to wait for service start

[2017-10-03 13:15] bachia commented on #34
Made significant progress today in setting up Sunbird instance. DB server setup complete. App server setup in progress.

Waiting on ekstep api access request to be processed. Shall resume tomorrow.

Special thanks to @steotia @endeepak @vrayulu who patiently worked with me to reach this point.

cc @kirang20 @endeepak @pramodkvarma @sferoz @Manojvv @coolbung @vrayulu @mathewjpallan @madhucr

[2017-10-04 06:04] bachia commented on #34
@steotia , morning. Can you help me get hold of EkStep API Key so that we can proceed to next step in setting up Sunbird instance? I had already registered with EkStep and posted my request last evening. Thanks for your help.

[2017-10-04 06:18] endeepak commented on #34
@coolbung @vrayulu If you have admin rights in ekstep portal, can you please look at @bachia's request

@bachia You can continue with app server deployment till this is approved. After the approval, you can update the config and re-run app deploy scripts. App deploy scripts are idempotent

[2017-10-04 06:23] coolbung commented on #34
@bachia I've approved your request. Please go ahead and create the credentials

[2017-10-04 06:43] bachia commented on #34
Thank you @coolbung and @endeepak. Will go ahead with both the tasks

[2017-10-04 06:51] bachia commented on #34
@endeepak *deploy-core.sh* script failed with the following error :

![screen shot 2017-10-04 at 12 20 01 pm](https://user-images.githubusercontent.com/2817641/31163109-77626792-a8fe-11e7-8cb3-495fefe6daea.png)

[2017-10-04 07:06] kirang20 commented on #34
@bachia The issue with `sunbird_ekstep_authorization` variable has been resolved. Please pull the latest code and re-run deploy-core.sh.

[2017-10-04 07:16] bachia commented on #34
![screen shot 2017-10-04 at 12 45 21 pm](https://user-images.githubusercontent.com/2817641/31163832-ee5aceea-a901-11e7-969b-81293e5c06b0.png)

Looks like one more parameter is missing.

[2017-10-04 07:58] kirang20 commented on #34
@bachia Please pull latest code and re-deploy.

[2017-10-04 08:18] bachia commented on #34
@kirang20 one more

![screen shot 2017-10-04 at 1 47 38 pm](https://user-images.githubusercontent.com/2817641/31166002-be30cfe0-a90a-11e7-8ad7-9140fe452ef3.png)

[2017-10-04 08:39] kirang20 commented on #34
@bachia Sorry about that. This one is fixed and I have found and defaulted few more variables which were missing definition. Please pull latest code and redeploy.

[2017-10-04 08:50] steotia commented on #34
@bachia Thanks for the patience. Hope you are on track.
@kirang20 @vrayulu @coolbung Please update Installation for missing steps. Also, use the questions asked in this Issue to update the FAQ.
@Manojvv @kirang20 Please co-ordinate keeping the sample config file up to date.

[2017-10-04 09:02] bachia commented on #34
@kirang20 Thank you.

Successfully executed both deploy scripts.

unable to access the portal though...

https://dev.ournile.org

[2017-10-04 09:05] bachia commented on #34
![screen shot 2017-10-04 at 2 34 17 pm](https://user-images.githubusercontent.com/2817641/31167874-2a3d1ef4-a911-11e7-99f7-d6449876fab8.png)
 Ports that are open on app server.

[2017-10-04 09:11] bachia commented on #34
@steotia , should I be deploying Sunbird portal also on app server?

[2017-10-04 09:18] endeepak commented on #34
@bachia Port 80 and 443 are not listed in open ports. This indicates that proxy server (nginx) is not running currently

Could you pleas run `sudo docker service ls` and paste the output

Portal is installed on app-server as part of deploy-core

[2017-10-04 09:30] endeepak commented on #34
@bachia If you are working on dev environment setup, please request ekstep API key from ekstep QA portal https://qa.ekstep.in/

The API key obtained from https://community.ekstep.in/ should be used for production environment

cc: @coolbung

[2017-10-04 09:54] bachia commented on #34
@endeepak output from docker service ls

![screen shot 2017-10-04 at 3 23 19 pm](https://user-images.githubusercontent.com/2817641/31169969-071815bc-a918-11e7-9772-a9751cfad560.png)

[2017-10-04 09:55] bachia commented on #34
@steotia , got it...I will request key from https://qa.ekstep.in

[2017-10-04 10:00] endeepak commented on #34
@bachia The proxy_proxy service hasn't started as it shows `0/1` for replication. We would need logs to debug this. Please run the command `sudo docker service logs proxy_proxy --tail 200`

[2017-10-04 10:03] bachia commented on #34
@endeepak looks like it's a certificate issue. I used a self signed certificate.

![screen shot 2017-10-04 at 3 31 58 pm](https://user-images.githubusercontent.com/2817641/31170316-3dcc7b92-a919-11e7-9202-2d7c8f80f977.png)

[2017-10-04 10:09] endeepak commented on #34
Self signed certificate also works. It could be due to indentation issue in multiline value in yaml we will provide you an example to show how the value looks and how it should be added in config file

[2017-10-04 10:16] kirang20 commented on #34
@bachia Are your SSL configs (`proxy_site_key` and `proxy_site_crt`) made as below? If not could you please update, even the indentation is important.

[code]

[2017-10-04 10:24] bachia commented on #34
@kirang @endeepak thank you.

Am stepping out now. Shall update you as soon as I can. Thanks for providing sample.

[2017-10-05 04:22] bachia commented on #34
@kirang20

Morning. No luck even after changing the site key and site crt as recommended above. The error message still seems to be the same. Please find below sample definition of how site key in my config file. I just reran *deploy-core* and *deploy-proxy* scripts after making this change. Presume that is ok.

[code]

@endeepak @steotia

[2017-10-05 04:33] endeepak commented on #34
@bachia If you don't mind sharing this self signed certificate of dev env, could you email `deepakn<at>sahajsoft.com` following for debugging

- Generated certificate and key file
- Complete key-value pair defined for `proxy_site_key` and `proxy_site_crt` in `group_vars/dev`

[2017-10-05 04:38] endeepak commented on #34
@bachia Please check if `proxy_site_crt`  has BEGIN and END statements as explained in https://stackoverflow.com/a/29927784/69362

[2017-10-05 04:49] bachia commented on #34
Sure @endeepak ...will send those shortly.

Yes, proxy_site_crt has BEGIN and END statements.

[2017-10-05 06:59] kirang20 commented on #34
@bachia Certificates are fine. Issue is that the certificates are not getting updated when redeploying as proxy container is still running. For now, please do the following (add sudo where required):

- Run `docker service rm proxy_proxy`.
- Run `docker secret rm site.key`.
- Run `docker secret rm site.crt`.
- Re-deploy proxy.

[2017-10-05 08:19] bachia commented on #34
@endeepak @kirang20 @steotia 👍

Instance is up ... see the screen shot below.

![screen shot 2017-10-05 at 1 48 04 pm](https://user-images.githubusercontent.com/2817641/31217234-dd4d79fe-a9d3-11e7-97d2-9529bb7986ce.png)

[2017-10-05 08:35] bachia commented on #34
@kirang20 @endeepak @pramodkvarma @sferoz @Manojvv @coolbung @vrayulu @mathewjpallan @madhucr

Thanks to @steotia @endeepak @kirang20 the instance is up and running. I guess this is the first step.

https://dev.ournile.org

Thanks for your support so far. Require your assistance in making this instance functional.

[2017-10-05 08:48] endeepak commented on #34
@bachia Thats good!

@coolbung Can you please share details on keycloak setup to help @bachia proceed further

cc: @steotia @vrayulu @Meethaz @madhucr

[2017-10-05 09:13] nawabahmadreshi opened #64 "Deletion of Hackathon Folder"
This is to inform all of you that I am deleting the hackathon folder as we need to rebuild the website again and hackathon folder is breaking the build . I have taken a backup of the same.

CC @Sunitashelar

[2017-10-05 09:27] coolbung commented on #34
Keycloak does not seem to be working at https://dev.ournile.org/auth/

@endeepak @kirang20 can you help get that up. Meanwhile I'm creating and sharing the docs related to realm configuration.

[2017-10-05 09:31] deepshikha2k5 opened #65 "Content ready to go-live on Sunbird website"
Hello Lakhan

Please can you rebuild the site. Please make a new tile on the website for "Frequently Asked Question"
@lakhanmandloi

cc-
@Sunitashelar
@nawabahmadreshi
@Basreena

Thanks & Regards

[2017-10-05 09:33] nawabahmadreshi commented on #65
@lakhanmandloi  , I have deleted the hackathon folder , Now re-building the website should not be a problem.

[2017-10-05 09:34] endeepak commented on #34
@Manojvv Can you please add keycloak deployment steps in https://github.com/project-sunbird/sunbird-devops/blob/master/Installation.md

[2017-10-05 09:47] nawabahmadreshi opened #66 "API Documentation update"
@manzarul

These are the APIs provided by you as postman collection .
1.	User management api
2.	Organization-Collection
3.	Metrics APIs
4.	Email Service
5.	Course Batch
6.	Data Sync
7.	bulk operation
8.	Page Api 		Schema Missing (definitions)
9.	Health 			Schema Missing (definitions)
10.	Badges 			Schema missing(definitions)

1-7	: I have documented all the API endpoints .
8-10   : Please send the

[2017-10-05 09:50] lakhanmandloi commented on #65
@nawabahmadreshi Hi, Thank you :)

@deepshikha2k5 Hi, regenerating site will be not possible as we have done sidebar related changes. If we regenerate the site,  we will loose those changes. The problem will get automatically fixed  in new upcoming designs.

Till new design comes in i will have to manually add the content in site. So can you pls mentions files that has changes. so that i can put i

[2017-10-05 09:53] kochhar commented on #65
@lakhanmandloi this should have been done in a different branch so that the
master branch is always build-able. Please treat the docs repo as code. It
is not encouraged to have the master branch be in a non-buildable state.

What is the timeline for the first automated build-and-deploy?

On Thu, Oct 5, 2017 at 3:20 PM Lakhan Mandloi <notifications@github.com>
wrote:

[2017-10-05 10:01] endeepak commented on #34
@bachia There was one step missing for keycloak deployment. We've updated the docs with this step

- Run `sudo ./deploy-keycloak.sh <implementation-name>-devops/ansible/inventories/<environment-name>`. This will deploy keycloak service.

Please run the above command. There are few manual steps needed for auth realm setup after that. @coolbung will share these steps soon

[2017-10-05 10:36] nawabahmadreshi commented on #65
@lakhanmandloi  We have some content which needs to go live ASAP .

[2017-10-05 11:56] deepshikha2k5 commented on #65
@lakhanmandloi, nawabahmadreshi
Please be informed that all the tree structure for Product Feature will remain the same except few changes. The content inside every landing page need to be updated, same as updated in <sunbird-commons>pages>feature documentation>

Per se few changes to be made in the tree structure are as follows:
1. Content Lifecycle - Here next sub-section that will come under it

[2017-10-05 13:42] bachia commented on #34
@endeepak  cheers 👍

deploy-keycloak is completed.

shall wait for further instructions from @coolbung

[2017-10-05 14:51] lakhanmandloi commented on #65
@kochhar Hi, We are ready with CircleCI Integration for build and deploy to s3 as well as Github repos. Sending you calender request to discuss about the same.

@deepshikha2k5 @nawabahmadreshi - Pls review the latest site at - http://sunbird-trial.s3-website.ap-south-1.amazonaws.com/

[2017-10-05 14:51] nawabahmadreshi commented on #65
@lakhanmandloi, didn't get you!

[2017-10-05 14:55] nawabahmadreshi commented on #65
@lakhanmandloi, site is not rendering properly, checked the markdown of developer doc. Installation .Also images giving some inline errors

[2017-10-05 15:00] lakhanmandloi commented on #65
@nawabahmadreshi I mean to say, i have removed the barrier of manual updating. Now we can built the site from command. You can edit the content in md files. For sidebar navigation you will have to links in /includes/sidebar.html file.

[2017-10-05 15:02] nawabahmadreshi commented on #65
Great , So it means what we edit in .md files , we can see the changes instantly after executing the command

[2017-10-05 15:06] nawabahmadreshi commented on #65
We need to set this website alright (talking about content).We had linked appropriate snippets  to corresponding master pages but I can see that the linking might just not be right . I will check it myself and set it right then we can rebuild it again .
**Thank you for your support and cooperation , its appreciated.**

[2017-10-05 15:26] nawabahmadreshi opened #68 "Need to fix Links in Doc Website (Top Priority)"
We need to fix a few issues
@deepshikha2k5
cc:
@Sunitashelar

[2017-10-06 04:52] bachia commented on #34
@steotia, while I await instructions from @coolbung for auth realm setup, are there any other steps that can be completed at my end?

For example :

- loading of seed vocabulary
- enable search
- load other data like : Organization, users etc
- Any other setup task(s)

Wondering if there are any instructions on how to change logo and Page Title. It seems like the name "Diksha" is hardcoded for Pag

[2017-10-06 04:56] vrayulu commented on #34
@bachia : Lets create a new issue and track the application/functional setup separately. Could you please create the issue for that and we will work in parallel on that...

[2017-10-06 05:05] bachia commented on #34
@vrayulu 👍  Happy to do that. Will tag you on those issue(s). Thank you.

[2017-10-06 05:12] bachia opened #69 "Sunbird new instance - Application / Functional setup help"
@vrayulu

Looking for help in setting up sunbird new instance for end users. For example:

- Change page title
- Change logo
- Change fav icon
- Keycloak customisation
- Setting up default org
- Setting up users
- Loading application data (seed vocabulary, any static data etc)
- Enable search box

I am sure there are more than what has been listed. Look forward to your assistance in getting this i

[2017-10-06 05:30] Sunitashelar commented on #69
@bachia @vrayulu
information for some of these topics is available
@nawabahmadreshi
pls check and guide appropriately

[2017-10-06 05:52] deepshikha2k5 commented on #65
@lakhanmandloi
Hello Lakhan,
I saw the link that you have send.
- Please can you replace the tile name "NTP FAQ's" to "Frequently Asked Question".
- Few of the content in the site link is old, can you please update them with the latest file version.
- Please check the images in NTP FAQ's doc is not rendered in the website.

[2017-10-06 05:57] nawabahmadreshi commented on #65
@lakhanmandloi  You had rolled back to older version.
Please rebuild immediately , and send it for a final review .

[2017-10-06 06:48] nawabahmadreshi commented on #69
@vrayulu @kochhar please update these contents in following file:
**Customizing Sunbird **
- Change page title
- Change logo
- Change fav icon
File Path :
https://github.com/project-sunbird/sunbird-commons/edit/master/ingredients/developer-docs/customize_sunbird_look_feel.md
- Loading application data (seed vocabulary, any static data etc)
- Enable search box
**Setting Up Sunbird**
- Setting up  @

[2017-10-06 09:21] nawabahmadreshi commented on #66
@lakhanmandloi
I have uploaded these swagger files to yaml folder
can we get them up and live .

[2017-10-06 10:59] bachia commented on #34
@endeepak Thank you.

I am unable to login to key cloak admin console. Am getting "502-Bad Gateway" when I try to login.

![screen shot 2017-10-06 at 4 29 12 pm](https://user-images.githubusercontent.com/2817641/31275127-9162d56c-aab3-11e7-8933-2a0fe60285f0.png)

[2017-10-06 11:03] bachia commented on #34
and now when I try to login ... I am getting "_Invalid Username or Password_"

[2017-10-06 11:06] endeepak commented on #34
@coolbung Can you please help @bachia resolve keycloak login

[2017-10-06 11:29] coolbung commented on #34
@bachia Can you share the exact command you used to create the admin account ? Also.. if you don't mind can you send the credentials to ashwin[at]tekditechnologies.com will take a look.

[2017-10-06 11:35] bachia commented on #34
sure @coolbung . I will send out an email now with credentials.

The command used that I used to create credentials was 👍
`./bin/add-user-keycloak.sh -u <admin> -p <yourpassword>`

[2017-10-06 11:47] coolbung commented on #34
Can you share the script output after you ran the command ? If you don't have it you can try running it again with a different username and then share the output. Ideally it should say something on the lines of user created successfully.

[2017-10-06 11:51] bachia commented on #34
@coolbung , I can confirm that the message was more or less in the lines of successfully created and message also suggested that I should restart the server.

[2017-10-06 12:01] kochhar commented on #34
@bachia were you able to restart the server? could you help us with the
command which you used to restart it?

On Fri, Oct 6, 2017 at 5:21 PM Bachi Allamsetty <notifications@github.com>
wrote:

[2017-10-06 12:02] bachia commented on #34
Sure @kochhar

`sudo docker restart <container name>`

[2017-10-06 13:05] endeepak commented on #34
@bachia There is a bug due to which admin password gets reset to hardcoded password. We'll get it fixed soon. I'll send you those admin credentials via email

[2017-10-06 13:12] nawabahmadreshi commented on #65
@lakhanmandloi  , what about API docs ?
Can we get them on boarded too if not today atleast on Monday ??
I had done some changes in the API docs too , which have reflected . But the display text needs to be changed & more .html files need to be added to incorporate all APIs

[2017-10-06 14:53] lakhanmandloi commented on #66
@nawabahmadreshi Done.

[2017-10-06 15:57] nawabahmadreshi commented on #66
@lakhanmandloi thank a lot.

[2017-10-09 05:31] nawabahmadreshi opened #72 "Contribution Section for Sunbird Website"
Hello Team,
We need to put up the contribution section for sunbird website .
Put comments and suggestions if any.
cc:
@Sunitashelar
@kochhar
@deepshikha2k5
@Basreena
@vrayulu

[2017-10-09 06:04] kochhar opened #73 "Tracking sunbird docs build automation"
@lakhanmandloi Please keep this updated with the current status of the docs build automation. Aiming

[2017-10-09 06:07] kochhar commented on #65
Content is fine. Closing the issue. Tracking changes to the styling: https://github.com/project-sunbird/project-sunbird.github.io/pull/7

[2017-10-09 06:07] #65 closed

[2017-10-09 06:08] #64 closed

[2017-10-09 06:09] kochhar commented on #61
@Sunitashelar could you please update or close this issue.

[2017-10-09 06:10] kochhar commented on #60
Tracking appearance customisation here: https://github.com/project-sunbird/sunbird-commons/issues/69

[2017-10-09 06:10] #58 closed

[2017-10-09 06:16] kochhar commented on #62
@parthlawate @lakhanmandloi update on this issue? if its resolved please close this issue.

[2017-10-09 06:18] kochhar commented on #52
@Jayaprakash8887 @Abhign If the problem is fixed, can this issue be closed?

[2017-10-09 06:18] kochhar commented on #51
@Abhign Please assign this issue or close it.

[2017-10-09 06:19] kochhar commented on #50
@Abhign is this added to the backlog?

[2017-10-09 06:28] nawabahmadreshi commented on #68
Done and website linking is alright now .

[2017-10-09 06:28] #68 closed

[2017-10-09 06:29] nawabahmadreshi commented on #58
Done and updated accordingly .

[2017-10-09 06:29] Jayaprakash8887 commented on #52
Dear Shailesh,

This can be still seen at times. Guessing it should be replicable in
systems with weak connections.

Warm regards,
JP

On Mon, Oct 9, 2017 at 11:48 AM, kochhar <notifications@github.com> wrote:

[2017-10-09 06:30] nawabahmadreshi commented on #66
This is done and updated .

[2017-10-09 06:30] #66 closed

[2017-10-09 06:31] deepshikha2k5 commented on #30
Received resource bundle. Closing Issue

[2017-10-09 06:31] #30 closed

[2017-10-09 07:28] lakhanmandloi commented on #62
@kochhar this is fixed.

[2017-10-09 07:28] #62 closed

[2017-10-09 07:29] #22 closed

[2017-10-09 07:29] #14 closed

[2017-10-09 08:28] kochhar commented on #52
@Jayaprakash8887 thanks, please add this issue to JIRA. You can coordinate with Vinod to answer any questions on how to add to JIRA.

[2017-10-09 08:32] bachia commented on #34
@endeepak @coolbung

Thank you for the instructions. Completed keycloak related configuration changes.

I am not sure in where to make the following changes listed in the keycloak documentation. Your guidance is much appreciated.

[2017-10-09 08:41] bachia commented on #69
@Sunitashelar @vrayulu @nawabahmadreshi

I can see couple of documents on instructions on how to upload Org and Users. I am assuming that these steps must be performed after configuring keycloak. Help on other requirements is much appreciated.

[2017-10-09 08:47] #42 closed

[2017-10-09 08:48] #33 closed

[2017-10-09 08:54] lakhanmandloi opened #74 "Sidebar Tweaks"
@nawabahmadreshi  -  Hi,
As mentioned in https://github.com/project-sunbird/project-sunbird.github.io/pull/7 can you pls send me the changes that needs to be done on site?  I am available today. And might not be available tomorrow onwards (Planned to work on societal site), So can you pls send me the list asap today itself.

Thanks!

cc:
@parthlawate

[2017-10-09 08:58] nawabahmadreshi commented on #72
@kochhar , kindly suggest the point of contact for contribution section .
Also once you had said that we have some wiki or some doc related to it , can you provide the link .

[2017-10-09 09:22] lakhanmandloi commented on #73
@kochhar Hi, As we know the site will entirely be revamped with the new designs. I would suggest to go with this jekyll theme in new designs - https://github.com/CloudCannon/base-jekyll-template demo site - https://orange-ape.cloudvent.net/ .

- This will remove the dependency of CircleCI as this theme do not have dependencies on any custom plugin or any js libs.
- We will get ready made search pl

[2017-10-09 09:35] kochhar commented on #40
@nawabahmadreshi Is this done?

[2017-10-09 09:35] kochhar commented on #38
@harshithaks closing this issue since the access has been resolved

[2017-10-09 09:35] #38 closed

[2017-10-09 09:36] kochhar commented on #31
@nawabahmadreshi is this done? can the issue be closed?

[2017-10-09 09:42] endeepak commented on #34
@bachia These needs to be added in <implementation-name>-devops/ansible/inventories/<environment-name>/group-vars/<environment-name>. We'll add this as part of `generate-config.sh` in future so that you would have just update these values

Also dev team is working on adding help text and removing redundant config to make this easier. There may be changes in few variable names. cc: @Manojvv @harish

[2017-10-09 09:43] kochhar commented on #23
@lakhanmandloi any update on this, is there an estimate when this will be done?

[2017-10-09 09:44] kochhar commented on #37
Issue moved to [project-sunbird/sunbird-portal #4](https://github.com/project-sunbird/sunbird-portal/issues/4) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-09 09:45] #39 closed

[2017-10-09 09:45] kochhar commented on #39
Issue moved to [project-sunbird/sunbird-portal #5](https://github.com/project-sunbird/sunbird-portal/issues/5) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-09 09:46] lakhanmandloi commented on #23
@kochhar - Hi, this point is already in https://github.com/project-sunbird/sunbird-commons/issues/73. So lets close it here.

[2017-10-09 09:48] Basreena opened #75 "test issue creation"
@deepshikha2k5

[2017-10-09 09:49] #75 closed

[2017-10-09 09:49] kochhar commented on #73
Why can't the ingredients plugin be added to this theme?

On Mon, Oct 9, 2017 at 2:55 PM Lakhan Mandloi <notifications@github.com>
wrote:

[2017-10-09 09:54] #23 closed

[2017-10-09 09:57] #37 closed

[2017-10-09 09:58] nawabahmadreshi commented on #74
@lakhanmandloi
1. Sidebar needs to be collapsible / dynamic in nature .
2. How can we change picture sizes in markdown or in the linking braces { ....}
Kindly,can you send the correct format as to how we can do it .

cc:
@Sunitashelar
@Basreena
@deepshikha2k5

[2017-10-09 10:01] lakhanmandloi commented on #73
@kochhar it can be added , but i would like to avoid custom plugins as much as possible. So that we can build the site on github itself. And i do not think we reuse content very frequently. We use it at some places which can be maintained.

@Sunitashelar @nawabahmadreshi can you pls confirm how frequently we reuse the same content on multiple pages ? So that we can take a call on above point

[2017-10-09 10:07] nawabahmadreshi opened #76 "Information needed on "Sunbird Services Setup""
@steotia @endeepak @Manojvv
We need information on Sunbird Services Setup

You can check this

http://www.sunbird.org/developer-docs/
TRY SB https://staging.open-sunbird.org/#!/
EXTEND SB http://www.sunbird.org/developer-docs/developer_install/
MED SC DEPLOY http://www.sunbird.org/developer-docs/medium_scale_deploy/
LARGE SC DEPLOY https://github.com/project-sunbird/sunbird-devops/blob/master/Inst

[2017-10-09 10:09] nawabahmadreshi commented on #31
This is done , closing the issue .

[2017-10-09 10:09] #31 closed

[2017-10-09 10:11] #40 closed

[2017-10-09 10:16] lakhanmandloi commented on #74
@nawabahmadreshi

- For Image sizing pls go with this - https://github.com/BranchMetrics/documentation#image
- For Dynamic and Collapsible Sidebar , i had already mentioned in https://github.com/project-sunbird/sunbird-commons/issues/73 .

[2017-10-09 10:18] endeepak commented on #76
@nawabahmadreshi Currently https://github.com/project-sunbird/sunbird-devops/blob/master/Installation.md refers to medium scale deployment. This will be enhanced for more complex scenarios which can be used by large scale deployment

Are you planning to copy the content from above file or just provide a link to above file on documentation site?

[2017-10-09 10:29] deepshikha2k5 commented on #74
@lakhanmandloi
Kindly, let me know if we make changes in the .md files does it reflect automatically in the website.

[2017-10-09 10:33] bachia commented on #34
@endeepak Thank you.

Do you recommend that I wait for dev team updates?

[2017-10-09 10:35] nawabahmadreshi commented on #74
@lakhanmandloi , is site rebuild automated now ?

[2017-10-09 10:42] endeepak commented on #34
@bachia Yes. Please wait for dev team updates to avoid re-configuration and errors due to possible misinterpretation of configs. The work has started and will update soon on this

[2017-10-09 10:47] Abhign commented on #51
@kochhar This issue is resolved hence i am closing this issue ..

[2017-10-09 10:47] #51 closed

[2017-10-09 10:47] lakhanmandloi commented on #74
@nawabahmadreshi not completely.

[2017-10-09 10:51] lakhanmandloi commented on #74
I mean it is ready. But after review of process there were some feedbacks from Shailesh, So i have to fix those first or migrate site to new theme. For the same reasons the issue is opened - https://github.com/project-sunbird/sunbird-commons/issues/73

[2017-10-09 11:02] deepshikha2k5 commented on #74
@lakhanmandloi
We wanted to re-build the site, since we are reviewing each piece of content from our end and at few places the changes are entertained. Once all the changes are made, we will notify you to give build by today.

[2017-10-09 11:03] nawabahmadreshi commented on #73
**Our concept of pages and ingredients is purely based on Content Engineering and we have modeled our content in this structure. Our focus is on scalability & re-usability of content.**
- This content modelling is envisioned with a futuristic approach expecting huge amounts of content and thus re-usability will be so handy and frequent.
- Currently, yes re-usability is less but it will grow propor

[2017-10-09 11:09] lakhanmandloi commented on #74
@deepshikha2k5 ok.

[2017-10-09 11:18] Sunitashelar commented on #73
@kochhar @lakhanmandloi @nawabahmadreshi
We have reused content quite heavily to create multiple artifacts. Content is also reused across pages of the site. This reuse will continue to increase. Hence, the need for ingredients and master pages will increase.

[2017-10-09 11:21] lakhanmandloi commented on #73
@nawabahmadreshi @Sunitashelar  Hi, Ok noted. We will not remove it.

[2017-10-09 11:36] lakhanmandloi commented on #73
@kochhar  -

Following were the points made in Fridays call  -

1. Installation and cache steps (NPM & gems) should be removed from the circleci steps . Installation of node modules should go in Docker images with global installation
2. Need to verify if files also gets deleted from s3 bucket if it is deleted from repo.
3. Build job should be removed from prod steps. Prod job should fetch site gen

[2017-10-09 18:02] kochhar commented on #76
The docs will all live on the sunbird docs site, it's fine to stage them in
wikis.

We need to document the installation of services for a developer
installation. Presently we have details on how to run the portal for a
developer and how to run services for mid-size cloud install.

We also need to have details on how to run the services as a developer and
how to run the portal in a mid-size cloud

[2017-10-09 18:54] nawabahmadreshi commented on #76
@endeepak  thanks a lot for this information , I just had a doubt about where this doc fits in.
@kochhar , I will copy the above content and place it in appropriate location so that it becomes available on our website .

[2017-10-10 06:15] vrayulu commented on #69
@coolbung @kochhar - another item that needs documentation is keycloak look and feel customisation. adding it to the above list.

[2017-10-10 08:17] endeepak commented on #34
@bachia Dev team has updated the configuration options.  Please pull latest code of sunbird-devops. You can proceed with steps after keycloak realm setup. Thanks for your patience

[2017-10-10 14:12] bachia commented on #34
@endeepak Thank you.

I am unable to understand where exactly these changes are supposed to be made?

Which config file? Is it...

[2017-10-10 14:24] endeepak commented on #34
@bachia Correct. Please add these config entries

[2017-10-10 15:06] bachia commented on #34
@endeepak got following error

![screen shot 2017-10-10 at 8 35 12 pm](https://user-images.githubusercontent.com/2817641/31393945-9a922dbe-adfa-11e7-9abb-16ac0d0f4449.png)

[2017-10-11 03:53] endeepak commented on #34
@Manojvv Can you please check this. Please test out the script on VM and find if there are any other variables missing after refactoring

[2017-10-11 05:22] Manojvv commented on #34
@bachia
i have update the sample group_vars. Please pull the latest code and run
the script again.

On Wed, Oct 11, 2017 at 9:23 AM, Deepak Narayana Rao <
notifications@github.com> wrote:

--
Thanks,
Manoj V V

[2017-10-11 05:35] endeepak commented on #34
@Manojvv The file `group_vars/sample` will not be used after `generate-config.sh` is run for first time.

Could you please list the name and help text for new variables you have added. @bachia needs to add these variables in `group_vars/dev` for their dev environment

@Manojvv Also please update the Installation wiki with these new variables

[2017-10-11 05:38] Manojvv commented on #34
@endeepak I added them in defaults/main.yml, so deploy-core.sh picks the keycloak_auth_server_url from there. Ok i will update the wiki.

[2017-10-11 06:11] Manojvv commented on #34
@bachia Dev team has added some new variables, those variables are  not added to defaults and some typo mistakes.  I will fix them and test, till then please  be on hold.

[2017-10-11 06:20] bachia commented on #34
ok sure @Manojvv

[2017-10-11 06:46] Manojvv commented on #34
@bachia I have updated and tested all the service and keycloak scripts. update `keycloak_admin_password` variable  in ansible/roles/stack-keycloak/defaults/main.yml  before running ./deploy-keycloak.

[2017-10-11 08:37] Manojvv commented on #34
@bachia Update to the above comment.
Don't add the `keycloak_admin_initial_password ` variable in ansible/roles/stack-keycloak/defaults/main.yml file . Add that variable to your `<implementation-name>-devops/ansible/inventories/<environment-name>` file.

[2017-10-11 09:13] #52 closed

[2017-10-12 08:47] bachia commented on #34
@Manojvv Thank you.

Can you please confirm the path

Is it
`<implementation-name>-devops/ansible/inventories/<environment-name>`
or
`<implementation-name>-devops/ansible/inventories/<environment-name>/group_vars/<environment-name>`

[2017-10-12 08:56] Manojvv commented on #34
@bachia use <implementation-name>-devops/ansible/inventories/<environment-name>

[2017-10-12 09:00] bachia commented on #34
@Manojvv

I am sorry I am unable to follow your instructions here. In your earlier message you had suggested that I make this entry in `<implementation-name>-devops/ansible/inventories/<environment-name>`. Should I ignore that and make that entry in `devops/ansible/inventories/`?

[2017-10-12 09:12] bachia commented on #34
@endeepak

After making changing changes as per new wiki instructions and executing keycloak script, the docker service seems to be down. Please see below:

![screen shot 2017-10-12 at 2 41 21 pm](https://user-images.githubusercontent.com/2817641/31488516-7ca68dc4-af5b-11e7-8d92-96ec8c363da5.png)

[2017-10-12 09:22] Manojvv commented on #34
group varaibles should be  updated here `<implementation-name>-devops/ansible/inventories/<environment-name>/group_vars/<environment-name>` .Sorry typo mistake .

[2017-10-12 10:13] endeepak commented on #34
@bachia The latest keycloak image and deploy script had an incompatible variable issue. This has been fixed and tested now. Please pull the latest code and deploy keycloak

[2017-10-12 12:04] bachia commented on #34
@endeepak keycloak is now active. Guess I have to go through the realm definitions once again ... will get back once I complete those steps

[2017-10-12 13:56] bachia commented on #34
@endeepak @Manojvv completed all steps listed in the installation document.
https://github.com/project-sunbird/sunbird-devops/blob/master/Installation.md

Looks like all docker services are running fine. Site comes up without any problems. When I click on login I am getting the following screen. I suppose we have to configure this screen.

![screen shot 2017-10-12 at 7 24 41 pm](https://user-image

[2017-10-12 14:01] bachia commented on #69
@vrayulu How about homepage customization? Shouldn't that be in the list to?

[2017-10-13 06:16] bachia commented on #34
@endeepak @coolbung

Created a user in keycloak and tried accessing site. Authentication was successful was I am getting a page with a message "access denied". Any thoughts?

cc: @steotia @sferoz @vrayulu @madhucr

[2017-10-13 06:22] endeepak commented on #34
@bachia There are no deployments steps pending. @vrayulu can you please help with the  functional setup for accessing portal

[2017-10-13 06:29] bachia commented on #34
Lovely....Thank you @endeepak and the entire team for helping me to get here. Appreciate your patience.

[2017-10-13 06:32] vrayulu commented on #69
Yes @bachia... We are working on the following items related to customisation:

1- Customising home page and logo
2- Customising keycloak
3- Themification (fonts, colours, css) of the portal

We will deliver these items in the above order. We are targeting the first item by EOD today and rest by mid next week. Will keep updating this thread.

The second part of application setup is configuring the

[2017-10-13 06:33] bachia commented on #69
@vrayulu Thank you.

[2017-10-13 11:25] nawabahmadreshi opened #84 "Each "href" to external link needs to be opened in new tab"
We need to enable opening of external links in a new tab for richer user experience .
@lakhanmandloi
cc:
@Sunitashelar

[2017-10-13 11:35] nawabahmadreshi opened #85 "Header Visibilty & Sidebar Nav."
When we navigate through the pages ,
Either the header should be visible all the times on all the pages
or the left navigation bar should be visible on all the pages to enable a user to navigate .

E.g
http://www.sunbird.org/architecture/
This page has a sidenav but no header .
http://www.sunbird.org/apis/bulkupload/
This page doesnt have a side nav but header get visible .
Is this intentional ?
C

[2017-10-13 12:02] nawabahmadreshi opened #86 "Sunbird Builds"
Sunbird builds are available at
https://hub.docker.com/u/sunbird/dashboard/
But the above link is dead .
Please can I get updated link .
@steotia
@Manojvv
@endeepak

cc:
@Sunitashelar

[2017-10-13 14:05] endeepak commented on #86
@nawabahmadreshi Correct link: https://hub.docker.com/u/sunbird/

[2017-10-16 05:46] #86 closed

[2017-10-16 06:10] nawabahmadreshi commented on #84
@kochhar
 opening external links in the same tab,  creates back-button fatigue for users. Every time the user goes to an external website they have to hit the back button to go back to your website. If they decide to click the links on the other website, they have to hit the back button even more times to get back to the site.
Also opening the external links in new tabs allows users to scan the pa

[2017-10-16 09:04] bachia commented on #69
@vrayulu Sorry to bother you. Any update on the documentation. Thank you.

[2017-10-16 09:30] vrayulu commented on #69
The instructions for setting up custom home page, logo and favicon are documented at https://github.com/project-sunbird/sunbird-devops/blob/master/Installation.md#additional-config-to-customize-sunbird-instance.

Feel free to ping @Manojvv @harishgilimi or me for any issues/queries.

[2017-10-17 10:24] bachia commented on #69
@vrayulu

Just started work on customisations. Can I assume the default tenant name for a fresh instance of Sunbird will be "sunbird" ? I looked into

`<implementation-name>-devops/ansible/inventories/<environment-name>/group_vars/<environment-name>`

and found this value `sunbird_default_tenant: sunbird`

Thanks for your help.

[2017-10-18 02:03] bachia commented on #69
@vrayulu

Can you help me create this folder on docker swarm node? In our setup we have only one node. Please see below node information.

![screen shot 2017-10-18 at 7 32 31 am](https://user-images.githubusercontent.com/2817641/31697643-8ba899c8-b3d6-11e7-9cdd-c0d803bda665.png)

[2017-10-18 02:39] bachia commented on #69
@vrayulu

- created /data/extensions/tenant folder structure in our host server
- created a folder inside "tenant" directory and named it "sunbird"
- created **index.html** in sunbird folder
- ran `deploy-proxy.sh` script

When I try to access our portal I am gettign connection refused. After a minute or two it points back to default home page and not the new index.html.

Any ideas where I am goin

[2017-10-18 03:07] vrayulu commented on #69
@bachia - just checking: did you have set the variable "player_tenant_dir" value to "/data/extensions/tenant"?

@Manojvv : please provide commands with which we can validate if the volume is mounted and soft link is created properly.

[2017-10-18 03:19] bachia commented on #69
@vrayulu, Yes the variable is set with proper value.

Looks like volume is not mounted properly. See the output of `docker volume ls` command

![screen shot 2017-10-18 at 8 46 58 am](https://user-images.githubusercontent.com/2817641/31699558-34607b62-b3e1-11e7-8f8c-7e050304b35b.png)

[2017-10-18 03:33] Manojvv commented on #69
@bachia
Run `docker service inspect player_player --pretty`  you should see the below fields.
Mounts:
  Target = /home/sunbird/dist/tenant
  Source=/data/extensions/tenant

[2017-10-18 03:56] bachia commented on #69
@Manojvv Thank you. I can't find both the fields in the out of the command.

[2017-10-18 04:08] Manojvv commented on #69
@bachia
Listed down steps below, please verify once.

1)Pull the latest sunbird-devops code.

2)set the `player_tenant_dir: /data/extensions/tenant`  in `<implementation-name>-devops/ansible/inventories/<environment-name>/group_vars/<environment-name>`.

3)make sure `/data/extensions/tenant` directory is created manually on the instance before running the deploy-core.sh script, with permissions `o

[2017-10-18 04:15] bachia commented on #69
@Manojvv Many thanks for detailed instructions.

I guess I didn't pull the latest code. Now I am getting the following error:

![screen shot 2017-10-18 at 9 44 40 am](https://user-images.githubusercontent.com/2817641/31700755-1f1c468e-b3e9-11e7-9d6e-af7c9d933b29.png)

[2017-10-18 04:24] Manojvv commented on #69
@bachia
I fixed the above issue and tested. Can you please pull the latest code and follow the above steps.

[2017-10-18 04:28] bachia commented on #69
@Manojvv 👍

It worked. Thanks a bunch for your timely help, mate.

@vrayulu FYI.

[2017-10-23 03:59] bachia commented on #69
@vrayulu awaiting your instructions to proceed further. Appreciate your help.

[2017-10-24 18:38] Manojvv commented on #69
@bachia

We have changed the keycloak setup from docker to vm installation. Keycloak HA setup is not supported in docker as of now. To remove existing keycloak docker service run this command `docker service rm keycloak1`.

Below steps will help to deploy keycloak on vm.
`cd sunbird-devops/deploy`

**Keycloak Provision**:
RUN `./provision-keycloak.sh <implementation-name>-devops/ansible/inventorie

[2017-10-24 22:11] bachia commented on #69
@Manojvv thank you.

Managed to execute all the steps listed above without any errors. However,  I am unable to access keycloak admin console. I tried accessing https://dev.ournile.org:8080/auth. Please confirm if the URL is correct.

I thought it might help you to know the list of ports open on our server. Please find below o/p of netstat command.

![screen shot 2017-10-25 at 3 35 55 am](https://

[2017-10-25 02:52] vrayulu commented on #69
@coolbung  @kochhar - please check the above error and help troubleshoot it.

[2017-10-25 04:57] Manojvv commented on #69
@bachia
Make sure below variables are set in `<implementation-name>-devops/ansible/inventories/<environment-name>/group_vars/<environment-name>` . These are used in both  install-dbs.sh and deploy-keycloak-vm.sh.

[code]

[2017-10-25 05:37] bachia commented on #69
@Manojvv

I confirm all the variables are set in `<implementation-name>-devops/ansible/inventories/<environment-name>/group_vars/<environment-name>`

[2017-10-25 10:51] Manojvv commented on #69
@bachia
Sorry for late reply.

Please try below steps
1.  login to the  db-instance.
2. login to the keycloak postgresql database `<psql -h private_ip_db_instance> -U keycloak -W` , enter the password.
3.  Drop all the tables in the keycloak using the below command, RUN
[code]
4. To make sure all the tables  are deleted  in keycloak database, run `\dt`.

5. Delete  manually if any table is not del

[2017-10-25 12:02] bachia commented on #69
@Manojvv Thanks again.

I am getting permission denied error while creating a backup file while server was starting. Please see the relevant log details below.

        at org.jboss.as.controller.persistence.ConfigurationFile.successfulBoot(ConfigurationFile.java:484)
        at org.jboss.as.controller.persistence.BackupXmlConfigurationPersister.successfulBoot(BackupXmlConfigurationPersister.java:

[2017-10-25 12:09] bachia commented on #69
@Manojvv
`standalone_xml_history` folder owner and group seems to be "root". Just changed that to 'keycloak' and restarted the service. It seems to be working...meaning service started and running.

Still unable to access the admin console though. Let me look through first and come back to you.

[2017-10-25 12:17] bachia commented on #69
@Manojvv

Got it. SSL is not enabled / configured for keycloak. If I enter http://servername:8080 I am getting management console.

I think we should enable SSL for keycloak also.

[2017-10-25 15:14] lakhanmandloi commented on #73
Hi @kochhar ,

Here is the status of tasks -

- Installation and cache steps (NPM & gems) should be removed from the circleci steps . Installation of node modules should go in Docker images with global installation **- Done**
- Need to verify if files also gets deleted from s3 bucket if it is deleted from repo. - **Verified, it deletes**
- Build job should be removed from prod steps. Prod job shou

[2017-10-25 16:00] kochhar commented on #73
Sounds good @lakhanmandloi can we schedule a demo tomorrow?
Thanks

On Wed, Oct 25, 2017 at 8:44 PM Lakhan Mandloi <notifications@github.com>
wrote:

[2017-10-25 16:59] #74 closed

[2017-10-26 03:34] lakhanmandloi commented on #73
@kochhar Hi, Let me know you availability. I have ping you on Slack.

[2017-10-26 09:00] lakhanmandloi commented on #85
@nawabahmadreshi - Yes this is intentional.

**For documentation pages -**

1. typically docs page content is long, user is expected to read the entire content. So having sidebar actually allows docs page to have more vertical space and less scroll.
2. If you see the sidebar navigation has too many links when compared to horizontal navigation. Sidebar allows too many links to accommodate. While in

[2017-10-26 09:04] lakhanmandloi commented on #84
@nawabahmadreshi  yes , i agree. External links should be opened in new tabs. Can you pls mention where we need such ? we will correct them .

[2017-10-26 09:12] lakhanmandloi commented on #73
@kochhar Closing this issue and creating new issues for CircleCI prod integration and Build promotions (Backlog).

[2017-10-26 09:12] #73 closed

[2017-10-26 10:58] Manojvv commented on #69
@bachia

Please set the variable `keycloak_url: http://<privateip_of_keycloak_vm>:8080` and restart the proxy by running `./deploy-proxy <implementation-name>-devops/ansible/inventories/<environment-name>`, it should  fix the above proxy issue.
you can access keycloak admin dasboard at `https://dev.ournile.org/auth/`

For creating keycloak Initial admin user run the below commands
 `cd /opt/keyclo

[2017-10-26 14:05] bachia commented on #69
@Manojvv

Thank you confirmed working.

[2017-10-27 01:23] bachia commented on #34
@kochhar

The following link seems to be dead

https://github.com/project-sunbird/sunbird-commons/blob/master/pages/developer-docs/install_sunbird.md

can you please point me to the right link please?

[2017-10-27 07:28] vrayulu commented on #63
@AmiableAnil @souvikmondal : please provide the pre-requisites and build instructions to generate the sunbird mobile app APK...

[2017-10-27 07:38] coolbung commented on #34
The docs are refactored a bit. Here's the docs TOC -
https://github.com/project-sunbird/sunbird-devops

and the link you are looking for -
https://github.com/project-sunbird/sunbird-devops/blob/master/Installation.md

[2017-10-27 07:40] kochhar opened #95 "Developer Install docs code blocks are broken"
@nawabahmadreshi Please see this page: http://www.sunbird.org/developer-docs/developer_install/

Bottom part of the page:
Edit the application config:

The code block formatting is broken. The code should be formatted as a block and not as inline code. When formatting it as a block one config entry should appear on every line.
http://www.sunbird.org/developer-docs/developer_install/

[2017-10-27 07:42] kochhar commented on #34
Developer install docs are now available through the sunbird docs hub.
http://www.sunbird.org/developer-docs/developer_install/

Pardon the messed up styling on the bottom part of the page. I've filed an
issue to have that fixed up.
Please do feel free to add issues if the docs hub is missing essential
documentation for you.

On Fri, Oct 27, 2017 at 1:08 PM Ashwin Date <notifications@github.com>
w

[2017-10-27 07:42] kochhar commented on #34
Issue to fix the configuration block formatting on the docs hub page:
https://github.com/project-sunbird/sunbird-commons/issues/95

On Fri, Oct 27, 2017 at 1:11 PM Shailesh Kochhar <shailesh@ekstepplus.org>
wrote:

[2017-10-27 08:03] nawabahmadreshi commented on #95
@kochhar, agreed and will do the necessary changes.

[2017-10-27 08:07] harishgilimi commented on #34
@bachia  please use https://github.com/project-sunbird/sunbird-portal/blob/master/developerInstallation.md for installation

[2017-10-27 10:17] vinaynarayana-juspay commented on #63
Steps to build APK from  git repo:

1. Install Android Studio and configure it.
2.Clone GitHub sunbird-mobile repo into it.
3.Get the MOBILE_APP_KEY and MOBILE_APP_SECRET from EkStep.
4.If You want to change the logo name go to **sunbird-mobile/dui-demo/src/main/res/values/strings.xml**  and give the required app name.
5.For app logo changing goto **sunbird-mobile/dui-demo/src/main/res** folder, h

[2017-10-27 12:13] Manojvv commented on #34
@bachia

Proxy settings required if the player running on VM .

Inside the `sunbird-devops/ansible/roles/stack-proxy/templates/proxy-default.conf` file, change `player_player to the  <internalip/of/the/player/vm>`.

Make port 3000 Inbound and outbound open.

Deploy proxy -`./deploy-proxy.sh nile-devops/ansible/inventories/spikes`.

[2017-10-28 01:12] bachia commented on #34
Thank you @kochhar and @harishgilimi for pointing me to the right location.

@Manojvv thanks again. Will try running player on VM and let you know.

[2017-10-28 03:30] bachia commented on #63
@vinaynarayana-juspay Thank you.

Encountered following errors after cloning git repo into Android studio:

![screen shot 2017-10-28 at 8 50 58 am](https://user-images.githubusercontent.com/2817641/32130835-2c6dab3a-bbbd-11e7-9620-27d7dfe25749.png)

Am also attaching IDE log file for details. Please let me know in case you need more information.

[idea copy.log](https://github.com/project-sunbird/

[2017-10-28 08:29] vinaynarayana-juspay commented on #63
@bachia please rename gradle.properties.example file inside dui-demo folder to gradle.properties and build the project. The above mentioned issue should be resolved by this.

[2017-10-28 09:11] bachia commented on #63
@vinaynarayana-juspay Thank you. I did make significant progress. But still left with following two errors.

![screen shot 2017-10-28 at 2 41 00 pm](https://user-images.githubusercontent.com/2817641/32133067-154b4e2c-bbee-11e7-9f5a-c5190ad814e2.png)

				Consult IDE log for more details (Help | Show Log) (23s 3ms)

[2017-10-30 05:03] bachia commented on #34
@Manojvv

I am setting up another env for NILE and came across invalid ansible version while executing install-dbs.sh script.

Ansible version seems to be incorrect in this file. I think it should be

`2.4.1.0-1ppa~xenial`

I have made this change locally and executed the script. Please confirm if this change is correct. If so, please update install-dbs.sh script with right version.

[2017-10-30 05:21] endeepak commented on #34
@bachia Thanks for reporting. Looks like `2.4.0.0-1ppa~xenial` has been removed from the ansible apt repo after [new release](https://launchpad.net/~ansible/+archive/ubuntu/ansible-2.4) on 26th October.  Using `2.4.1.0-1ppa~xenial` is correct. We'll update the `install-*` scripts with new the version

[2017-10-30 05:27] endeepak commented on #34
@bachia Ansible version has been updated and the error with elastic-search install has been fixed. Please pull the updated code

[2017-10-30 05:30] bachia commented on #34
@endeepak no luck :-( Getting same error.

[2017-10-30 05:42] endeepak commented on #34
@bachia It worked in our dev environment. Could you please provide output of following command for debugging

[code]

[2017-10-30 05:45] bachia commented on #34
`git log -1`

Author: Deepak N <endeep123@gmail.com>
Date:   Mon Oct 30 10:54:12 2017 +0530
    Issue ekstep/sunbird-devops#202 feat: fix es install

`git status`

Your branch is up-to-date with 'origin/master'.
Untracked files:
  (use "git add <file>..." to include in what will be committed)

	deploy/nile-devops/

nothing added to commit but untracked files present (use "git add" to track)

`grep

[2017-10-30 05:50] bachia commented on #63
@vinaynarayana-juspay

Any update please?

[2017-10-30 06:15] vinaynarayana-juspay commented on #63
@bachi allamsetty, I tried cloning the repo from github it's working for me
if possible please share your contact details and your free time so that I
can help you with this.

On 30 Oct 2017 11:20 am, "Bachi Allamsetty" <notifications@github.com>
wrote:

--
The information contained in this electronic mail and any attachment(s) to
this email are intended for the exclusive use of the addressee(s) a

[2017-10-30 06:20] bachia commented on #34
@endeepak No issues. I totally understand and appreciate your super swift support.

Different error popped up this time.

![screen shot 2017-10-30 at 11 48 33 am](https://user-images.githubusercontent.com/2817641/32157270-7649a130-bd68-11e7-8573-b59ce4b232a1.png)

[2017-10-30 06:21] bachia commented on #63
Sure @vinaynarayana-juspay. What's your email? I will send you my mobile number there. Or you can send me an email at bachia(at)gmail(dot)com

[2017-10-30 06:56] endeepak commented on #34
@bachia Looks like database creation in postgresql did not succeed before this error. Could you please provide the output after `[postgresql : Ensure PostgreSQL databases are present.]` and before `[postgresql : Ensure PostgreSQL users are present.]`

Seems to be variable resolution issue due a restructuring change done recently. This is occurring only in new environments and got missed in testing

[2017-10-30 07:01] bachia commented on #63
@vinaynarayana-juspay

Thank you. Project loaded in Android Studio without any errors after cloning git project separately and renaming the gradle.properties.example to gradle.properties. Did a quick build without any errors.

Will make other changes suggested above and get back to you in case of any support.

[2017-10-30 07:04] vinaynarayana-juspay commented on #63
Thanks for the update. Please change the build variant to stagingRelease
when you are making an apk

On Mon, Oct 30, 2017 at 12:31 PM, Bachi Allamsetty <notifications@github.com

--
Thanks & Regards

*Vinay Narayana* | *www.juspay.in* <http://www.juspay.in> | *+91 9640874054*

--
The information contained in this electronic mail and any attachment(s) to
this email are intended for the exclusive us

[2017-10-30 07:05] bachia commented on #34
@endeepak there are no messages there. See below.

![screen shot 2017-10-30 at 12 34 19 pm](https://user-images.githubusercontent.com/2817641/32158461-c24f079a-bd6e-11e7-85ab-0eeb641f1105.png)

[2017-10-30 07:55] bachia commented on #63
@vinaynarayana-juspay

Example- .fileprovider
.profiles
.telemetry -> change all the data similarly.

Can you please help me understand what exactly is an "Application Id" ?

[2017-10-30 08:03] vinaynarayana-juspay commented on #63
@bachi-allamsetty

you can find the application id under android default configs in dui-demo
gradle file (current application id is org.sunbird.app). If you change it
in gradle for your cloned project then you need to update the same
application id in the above mentioned file also.

On Mon, Oct 30, 2017 at 1:25 PM, Bachi Allamsetty <notifications@github.com>
wrote:

--
Thanks & Regards

*Vinay Nar

[2017-10-30 08:18] bachia commented on #63
@vinaynarayana-juspay Thank you. Got it

[2017-10-30 08:59] endeepak commented on #34
@bachia We've fixed the variable resolution issue due to which databases were not created in new environment. Please pull latest code and follow below steps for existing environments

* Run
[code]
* Ensure following lines are present under `## PostgreSQL config` in  `<implementation>-devops/ansible/inventories/<env>/group_vars/<env>`
[code]
* Re run `install-dbs.sh` as described in installation do

[2017-10-30 09:18] bachia commented on #34
@endeepak 👍

All good. Moving on to next step with fingers crossed :-)

[2017-10-30 09:39] bachia commented on #34
@endeepak error while running init-dbs.sh script

![screen shot 2017-10-30 at 3 08 23 pm](https://user-images.githubusercontent.com/2817641/32164034-3f2606b4-bd84-11e7-9760-e90578722820.png)

[2017-10-30 09:53] Manojvv commented on #34
@bachia Please pull the latest code and run the init-db.sh script again.

[2017-10-30 09:55] bachia commented on #34
@Manojvv working

[2017-10-30 10:33] bachia commented on #34
@endeepak @Manojvv error encountered while executing deploy-apis.sh

![screen shot 2017-10-30 at 4 02 24 pm](https://user-images.githubusercontent.com/2817641/32166442-def371a2-bd8b-11e7-9966-a8fd8e3fb09d.png)

[2017-10-30 10:44] endeepak commented on #34
@bachia Can you please check if you have set the value of `kong_host`. Errors indicates it is empty

[2017-10-30 10:49] bachia commented on #34
@endeepak My bad. I missed it.

I believe there is one incomplete sentence in installation document. Maybe this is the instruction that is missing.

[2017-10-30 10:52] endeepak commented on #34
Yes. Thanks for pointing out. I'll update the instructions

[2017-10-30 11:21] endeepak commented on #34
The above line was not needed. I've removed it

The  below line talks mentions about entering values, but `kong_host` variable was missing help text. I've added it now

@bachia The `keycloak_url` variable was under advanced config as it was earlier deployed in docker swarm. As it has moved to VM , I've moved that config to `# APPLICATION CONFIGURATION` block. Please set that variable before proxy

[2017-10-30 11:25] bachia commented on #34
@endeepak @Manojvv there are two scritps for deploying keycloak

- deploy-keycloak.sh
- deploy-keycloak-vm.sh

Which one should I use to deploy keycloak. Instructions say run `deploy-keycloak.sh`

[2017-10-30 11:43] Manojvv commented on #34
Sorry. Please use deploy-keycloak-vm.sh . I have updated the document.

[2017-10-30 11:46] bachia commented on #34
@Manojvv error while running deploy-proxy.sh

![screen shot 2017-10-30 at 5 15 13 pm](https://user-images.githubusercontent.com/2817641/32169304-fc5b9c56-bd95-11e7-9df0-1adf34d74a75.png)

[2017-10-30 12:23] endeepak commented on #34
@bachia There was issue with removing docker secrets in new deploy as it doesn't exist. This has been fixed please pull latest code and deploy again

[2017-10-30 12:49] bachia commented on #34
@endeepak @manojvv player_player service is not replicated.

Please see attached log from that service. Looks like mangodb connection is failing.

[staging_player_player_log.txt](https://github.com/project-sunbird/sunbird-commons/files/1427228/staging_player_player_log.txt)

[2017-10-30 13:12] Manojvv commented on #34
@bachia

Can please check mongod  is running using on database instance `ps -ef | grep mongo`. Also please verify the connection between the swarm manager node and the database instance . Run this command on docker swarm manager `telnet 10.128.0.3  27017 `.
Also please check below variables are set correctly.
sunbird_mongo_ip : XX.XX.XX.XX
sunbird_mongodb_port: 27017

[2017-10-30 13:17] bachia commented on #34
`ps -ef | grep mongo`

`telnet 10.128.0.3 27017`

telnet: Unable to connect to remote host: Connection refused

`variables`

sunbird_mongodb_port: 27017

[2017-10-30 13:36] Manojvv commented on #34
@bachia
mongod is not running.
Maybe because of that reason player is not working. did you face any error while running `install-dbs` script?

[2017-10-30 13:37] bachia commented on #34
Not really @manojvv....I am setting up portal to run on VM now...Just finished installed all dependencies for portal installation .. We can look into this error tomorrow.

[2017-10-30 13:38] Manojvv commented on #34
@bachia ok

[2017-10-30 14:01] bachia commented on #34
@endeepak @manojvv @coolbung

Many thanks for your untiring efforts. Managed to bring up a new instance for NILE

https://staging.ournile.org

In this instance we have keycloak and portal running on VM.

@vrayulu we are back on track to test our apis here on this env.

[2017-11-02 05:42] bachia commented on #63
@endeepak Should I be using the JWT token generated during backend services setup while building mobile app?

[2017-11-02 05:46] endeepak commented on #63
@bachia Sorry, I didn't get your question. Could you please elaborate

[2017-11-02 05:53] bachia commented on #63
@endeepak Thought as much. I myself didn't understand. Let me give it another shot.

## Background

I am trying to build Sunbird Mobile App by making appropriate changes to app name, logo etc.  The following variables are to be setup to point to the correct env etc.
`resValue 'string', 'local_ip', host
            resValue 'string', 'api_url', "staging.open-sunbird.org"
            buildConfigFiel

[2017-11-02 06:02] endeepak commented on #63
Thanks @bachia :). It is clear now

You should not use the JWT token for KEY and SECRET.

You need to generate key and secret for `mobile_app` user using JWT token of `mobile_admin` user

This process is automated by mobile team. @vinaynarayana-juspay @mathewjpallan Could you please share scripts and details on process used for this?

[2017-11-02 06:33] vinaynarayana-juspay commented on #63
Hi Deepak I already shared the curl for generating mobile key and secret,
if he has the jwt token he can generate key and secret by running the curl
with that jwt.

On 2 Nov 2017 11:32 am, "Deepak Narayana Rao" <notifications@github.com>
wrote:

--
The information contained in this electronic mail and any attachment(s) to
this email are intended for the exclusive use of the addressee(s) and may
co

[2017-11-02 06:37] bachia commented on #63
@vinaynarayana-juspay I confirm that I have the curl.  I was checking with @endeepak to see which JWT key to use. Thank you.

@endeepak Thank you.

[2017-11-02 06:43] endeepak commented on #63
@vinaynarayana-juspay Ok. Issue doesn't have those details.

@bachia These are the steps which should tie the information to get this done

-------
* Copy the JWT token for `mobile_admin` user printed by `./deploy-apis`script
* Run
[code]
Result will be
[code]
* Use the value of "key" and "secret" from the response above for `MOBILE_APP_KEY` and `MOBILE_APP_SECRET` configuration in mobile app
----

[2017-11-02 06:45] vinaynarayana-juspay commented on #63
Sure will do that

On 2 Nov 2017 12:13 pm, "Deepak Narayana Rao" <notifications@github.com>
wrote:

--
The information contained in this electronic mail and any attachment(s) to
this email are intended for the exclusive use of the addressee(s) and may
contain proprietary, confidential or privileged information. Access to this
e-mail and/or to the attachment by anyone else is unauthorized. If this

[2017-11-02 07:27] endeepak commented on #63
Added steps in installation docs: https://github.com/project-sunbird/sunbird-devops/blob/master/Installation.md#step-6-generate-key-and-secrets-for-mobile-app

[2017-11-02 08:27] kochhar commented on #95
@nawabahmadreshi could you estimate when will this be completed? Formatting is still broken on the website for multiple sections.

cc: @Sunitashelar

[2017-11-03 00:30] bachia commented on #63
@endeepak Thank you!!! As always excellent and clear instructions on how to generate mobile key and secret.

[2017-11-03 01:05] bachia commented on #34
@endeepak  Can you please guide me on where to provide Azure BLOB storage related details? Thank you.

[2017-11-03 02:53] bachia commented on #63
@vinaynarayana-juspay just started on mobile build. I pulled latest code and made all changes including key and secret (after generating the same using the CURL command you gave). When I try to open the project in Android Studio I am getting the following error during gradle sync.

Consult IDE log for more details (Help | Show Log) (30s 90ms)

[2017-11-03 03:32] kochhar opened #96 "Developer documentation should have links back to source"
Developer documentation is incomplete and sometimes gets out of date. When external users find errors in the docs, they must be able to edit and fix the errors. Each doc must have a link back to its source file, plus links to documentation for how to submit docs corrections.

Document creation will become more collaborative.

cc: @Sunitashelar, @nawabahmadreshi

[2017-11-03 03:32] kochhar commented on #96
cc: @lakhanmandloi

[2017-11-03 05:25] bachia commented on #63
@vinaynarayana-juspay

After adding the following code and upgrading to latest version of some packages that Studio suggested, I am able to build the code successfully.

`android {
    ...
    flavorDimensions "default"
    ...
}`

But I am left with following warning message though. You might want to look into this help me a version that builds cleanly.

android.compileOptions.sourceCompatibility

[2017-11-03 07:29] kochhar opened #97 "Installation guides should list OS prerequisites for installation"
The laptop installation guide is missing the information that install needs to be done on a linux OS.
Windows installation instructions should be provided as a separate section.

The same should be applied for the medium sized installation guide. Some parts of the application may not run on windows. The appropriate sections must be updated to indicate this.

[2017-11-03 07:32] kochhar opened #98 "Outdated Sunbird installation documentation"

[2017-11-03 07:38] kochhar opened #99 "Installation guides should checkout specific Sunbird releases"
Installation guides do not point to a specific release of Sunbird. Thus the instructions can be out of date if the code base changes.

The guides must be updated to provide instructions for a specific release of Sunbird. The instructions should indicate how to get the code for a specific stable version.

[2017-11-03 08:02] #95 closed

[2017-11-03 08:02] kochhar commented on #95
Issue moved to [project-sunbird/project-sunbird.github.io #21](https://github.com/project-sunbird/project-sunbird.github.io/issues/21) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 08:04] #96 closed

[2017-11-03 08:05] #97 closed

[2017-11-03 08:05] kochhar commented on #97
Issue moved to [project-sunbird/project-sunbird.github.io #23](https://github.com/project-sunbird/project-sunbird.github.io/issues/23) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 08:06] #99 closed

[2017-11-03 08:06] kochhar commented on #99
Issue moved to [project-sunbird/project-sunbird.github.io #24](https://github.com/project-sunbird/project-sunbird.github.io/issues/24) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 08:07] #72 closed

[2017-11-03 08:07] kochhar commented on #72
Issue moved to [project-sunbird/project-sunbird.github.io #25](https://github.com/project-sunbird/project-sunbird.github.io/issues/25) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 08:08] #84 closed

[2017-11-03 08:08] kochhar commented on #84
Issue moved to [project-sunbird/project-sunbird.github.io #26](https://github.com/project-sunbird/project-sunbird.github.io/issues/26) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 08:09] kochhar commented on #85
@nawabahmadreshi @lakhanmandloi is this issue resolved?

[2017-11-03 08:09] kochhar commented on #61
No update in 25 days, considering this issue as resolved.

[2017-11-03 08:09] #61 closed

[2017-11-03 08:09] kochhar commented on #32
closing this issue.

[2017-11-03 08:10] #32 closed

[2017-11-03 08:11] #98 closed

[2017-11-03 08:11] kochhar commented on #98
Issue moved to [project-sunbird/project-sunbird.github.io #27](https://github.com/project-sunbird/project-sunbird.github.io/issues/27) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-03 10:00] souvikmondal commented on #63
you might be using the latest Android Studio...the warning does not stop the build process. You may choose to remove the jackOptions from your build.gradle file to remove the warning.

remove the below config ----
jackOptions {
                enabled false
            }

[2017-11-03 10:06] bachia commented on #63
@souvikmondal Thank you.

Yes, you are right. I am using the latest Android Studio. I can also confirm the build process went through. I am wondering about the changes I have made like adding parameters like `android { ... flavorDimensions "default" ... }`. I added them to suppress some errors that I was getting.

Can you also please address my question on how to connect to ekStep QA?

I will remo

[2017-11-03 10:29] bachia commented on #63
@souvikmondal , am able to successfully build the app and installed on my device. But unable to login. I will send you an email with more details.

[2017-11-03 10:29] nikithshetty-juspay commented on #63
Hi @bachia, by connecting to QA, you mean creating a QA build, please navigate to build variant panel in android studio and select stagingDebug for dui-demo module and then make a build.

[2017-11-03 10:33] bachia commented on #63
@nikithshetty-juspay Thank you. Yes, That is the option I have when I built the app. APK gets installed and I am able to login also. But the app force closes. Please let me know what detail you need.

[2017-11-06 08:30] nawabahmadreshi commented on #85
@kochhar this issue is addressed in new website design .

[2017-11-06 08:30] #85 closed

[2017-11-06 08:34] nawabahmadreshi commented on #69
https://github.com/project-sunbird/sunbird-devops/blob/master/Installation.md#additional-config-to-customize-sunbird-instance.

@vrayulu @Manojvv

Is this file for customization complete or are there any changes ?
cc:
@Sunitashelar

[2017-11-07 09:13] shyamprasadkr opened #101 "Need iOS APP Code"
Hi, Can you please share this? If this is not yet open source, please mail the code to shyamprasadkr@gmail.com

[2017-11-07 09:14] arjun1092 opened #102 "# bodhi Test scripts for testing"
we are unable to find the test scripts used to do the following tests

o	Functional testing
o	Performance testing
o	SOA testing
o	Mobile testing

Please provide the WSDL files to do SOA testing also.

If the test scripts are not yet open sourced, please mail it to the id: SHYAMPRASADKR@gmail.com

[2017-11-07 09:32] Krish113 opened #103 "Need help with the version of Play framework and build tool used"
Please specify the play framework version used. And if possible please provide info about the build tool and build script used

[2017-11-07 12:44] rajooda opened #104 "Mobile Authentication failure #Bodhi"
Getting a jsonResponse after the keyCloak Authentication.

{"error":"invalid_grant","error_description":"Code is expired"}

#bodhi

[2017-11-07 13:06] kochhar commented on #103
@Krish113 you should be able to run the system using the scripts provided which pull the application services inside a docker container and deploy it.

[2017-11-07 13:08] kochhar commented on #102
1. Functional testing: @madhucr
2. Perf testing: @mathewjpallan
3. SOA testing: @madhucr
4. Mobile testing: @mathewjpallan

[2017-11-07 13:11] kochhar commented on #101
@shyamprasadkr At present Sunbird mobile is available on Android.

[2017-11-07 13:11] #101 closed

[2017-11-08 09:25] kochhar opened #105 "API token error arising when installing sunbird"
From Naga Sai Abhishek Govula:

Hi,
                I’m following the documentation mentioned https://github.com/project-sunbird/sunbird-devops/blob/master/Installation.md
                In this document
                Step 4: Setup Application and Core services->inside this Obtain API token from Ekstep platform by following steps listed here(https://github.com/project-sunbird/sunbird-commons/wi

[2017-11-08 09:41] coolbung commented on #105
Is he facing a problem ? How do we communicate with him and help resolve any issues ?

[2017-11-08 11:10] AmiableAnil commented on #104
@rajooda When this error is occurring while signin or signup. Currently signup its not working in mobile app.

[2017-11-08 11:30] rajooda commented on #104
What is the solution for this?

**The Logcat Error I am seeing is:**

[INFO:CONSOLE(140)] "Uncaught TypeError: Cannot read property 'call' of undefined", source: file:///android_asset/index_bundle.js (140)

Response{protocol=http/1.1, code=401, message=Unauthorized, url=https://staging.open-sunbird.org/api/user/v1/update/logintime}

[INFO:CONSOLE(35699)] "login patch call", source: file:///android

[2017-11-08 11:49] Abhishek-Govula commented on #105
Hi,
  You can contact me on +91 9620204162, or email me on abhishek520.govula@gmail.com

[2017-11-08 12:48] kochhar commented on #105
@coolbung seems there is an error when testing the EkStep API token with the EkStep APIs. I believe this token was generated from the EkStep community portal. Here's the relevant documentation for the API: https://community.ekstep.in/developer-apis/operation/ekstep.learning.content.read

@Abhishek-Govula can confirm.

[2017-11-08 13:55] arjun1092 commented on #102
hi  @madhucr @mathewjpallan , Can you please share the details at the earliest .

@kochhar

If the test scripts are not yet open sourced, please mail it to the id: SHYAMPRASADKR@gmail.com

[2017-11-08 15:03] Abhishek-Govula commented on #105
Hi @kochhar
The link mentioned is throwing a 404(Page not found).

For creating the JWT token, I have used the web-based tool mentioned in the documentation here ( [https://community.ekstep.in/developer-knowledgebase/45-getting-started-with-apis](https://community.ekstep.in/developer-knowledgebase/45-getting-started-with-apis) ). Tool is [http://jwtbuilder.jamiekurtz.com/](http://jwtbuilder.jamiek

[2017-11-08 15:44] kochhar commented on #105
@Abhishek-Govula Yes, the URL results in a 404 for some reason. Please follow the links for the Content Platform API docs from this page: https://community.ekstep.in/developer-apis

Could you share the generated JWT token? Secondly, if the services are also receiving the same access error when connecting to the EkStep APIs, please do share the service log files.

[2017-11-08 16:12] Abhishek-Govula commented on #105
@kochhar, I have followed the same Platform API docs mentioned for generating the JWT token
JWT generated is eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiI4YjZlM2U4YWZlODk0M2Y2YWJkM2FjMDcwNzI3NWU2MSIsImlhdCI6MTUxMDE1NzA1NSwiZXhwIjoxNTQxNjkzMDU5LCJhdWQiOiJvcmcuZWtzdGVwLmFwaSIsInN1YiI6IjVhMDE1MDM3YmVmNzgifQ.iitzrynEjNhVCjTutvx4zlG5OasIB-tsxMj3DiGFKws

I have not set up the services yet, this was n

[2017-11-09 05:59] kochhar commented on #105
@coolbung @Abhishek-Govula Resolved, the key was not matching with the URL. Closing out this issue.

[2017-11-09 06:02] kochhar commented on #103
Hi @Krish113, I'm closing this issue, please re-open if you still need to install Play services.

[2017-11-09 06:02] #103 closed

[2017-11-09 06:05] coolbung commented on #105
@Abhishek-Govula  while we update the docs, can you follow the same process to request access to groups on the EkStep QA environment - https://qa.ekstep.in/ I am standing by to approve the request so that you can generate the credentials for QA.

BTW, since this is a public issues board, please do not share credentials here.

[2017-11-09 06:07] kochhar commented on #102
Hi @arjun1092, Sunbird test automation is WIP. If you'd like to contribute to this effort, you could start with API test automation. Please let me know and I will share the present API automation backlog with you.

Sunbird runs REST APIs not SOAP, so there isn't a WSDL available. Instead, you can find the REST documentation linked from the sunbird docs site: http://www.sunbird.org/apis/ From the A

[2017-11-09 06:09] kochhar commented on #63
@nikithshetty-juspay Any updates on this thread? @bachia Are you still encountering this error?

[2017-11-09 06:10] kochhar commented on #60
Keycloak configuration instructions are available on the [installation instruction site](http://www.sunbird.org/developer-docs/installation/medium_scale_deploy/) about 3/4 of the way down the page.

[2017-11-09 06:11] #60 closed

[2017-11-09 06:13] Abhishek-Govula commented on #105
Sure @coolbung , I have requested for the access to groups on the QA environment. Please approve :)

[2017-11-09 06:18] coolbung commented on #105
Are you sure you asked for all groups ? Just see 2

[2017-11-09 06:20] Abhishek-Govula commented on #105
@coolbung , I have requested for all the groups, now when I click on "Request for API access", I get the following "No groups to display or you have requested access for all the groups"

[2017-11-09 06:23] kochhar opened #106 "Sunbird installation instructions should have new installers request a QA API key initially"
[Installation instructions](http://www.sunbird.org/developer-docs/installation/medium_scale_deploy/) instruct users to generate an API token from production EkStep. The instructions should instruct users to generate API tokes from EkStep QA: https://github.com/project-sunbird/sunbird-commons/wiki/Obtaining-API-token-for-accessing-ekstep-APIs

[2017-11-09 06:51] AmiableAnil commented on #104
@rajooda Could you tell the steps to reproduce this issue.

[2017-11-09 07:25] arjun1092 commented on #102
@kochhar : can you please shed some light on the tools used for the different tests.

[2017-11-09 07:29] kochhar commented on #106
@coolbung also as part of this change please move the instructions for generating an API key to the Sunbird documentation site. Ideally, we should reference the EkStep instructions so that we do not fall behind or get out of sync.

[2017-11-09 07:32] kochhar opened #107 "Wiki links to sunbird-commons and sunbird-devops must be deprecated"
The present [installation instructions](http://www.sunbird.org/developer-docs/developer_install/) reference wiki pages inside sunbird repositories. These references should be moved to the sunbird documentation portal.

@project-sunbird/techwriters please suggest an appropriate section (possibly new) of the sunbird documentation hub which can house the following wiki links:
1. https://github.com/pr

[2017-11-09 07:38] kochhar commented on #102
Presently, we're using Postman collections for writing API test cases. The
test case runs can be automated via Postman's console test runner: Newman.

If you would like to use any tools particular tools which are well suited
to REST API testing (and which can support OpenAPI spec or Swagger spec),
please do share your suggestions. We're at an early stage of implementation
and can consider alternat

[2017-11-09 08:47] coolbung commented on #105
Ok. Go ahead and create the credentials and then the JWT. Please use this for your test instance, and not the production one.

[2017-11-09 10:53] Abhishek-Govula opened #108 "Issues while running the init-dbs.sh at sunbird-devops #bodhi"
While running the _init-dbs.sh_ at [https://github.com/project-sunbird/sunbird-devops/blob/master/Installation.md#step-3-initialize-dbs](https://github.com/project-sunbird/sunbird-devops/blob/master/Installation.md#step-3-initialize-dbs), I have errors. Output file attached.
[init-dbs-output.txt](https://github.com/project-sunbird/sunbird-commons/files/1457310/init-dbs-output.txt)

[2017-11-09 11:04] kochhar commented on #108
@Manojvv @endeepak could you please debug and assist in resolving this issue.

[2017-11-09 11:09] kochhar commented on #107
Issue moved to [project-sunbird/project-sunbird.github.io #54](https://github.com/project-sunbird/project-sunbird.github.io/issues/54) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-09 11:09] #107 closed

[2017-11-09 11:09] #106 closed

[2017-11-09 11:09] kochhar commented on #106
Issue moved to [project-sunbird/project-sunbird.github.io #55](https://github.com/project-sunbird/project-sunbird.github.io/issues/55) via [**ZenHub**](https://www.zenhub.com/)

[2017-11-09 11:14] Manojvv commented on #108
@Abhishek-Govula looks like cassandra is not running on that machine. Please check once.

[2017-11-09 11:35] arjun1092 commented on #102
@kochhar  why not soapui with swagger connector.?

[2017-11-09 11:48] Abhishek-Govula commented on #108
@Manojvv cassandra is running on the system as a service
Below is the output after running _sudo service cassandra status_
● cassandra.service - LSB: distributed storage system for structured data
   Loaded: loaded (/etc/init.d/cassandra; bad; vendor preset: enabled)
   Active: active (exited) since Thu 2017-11-09 15:29:12 IST; 1h 46min ago
     Docs: man:systemd-sysv-generator(8)
  Process: 1031

[2017-11-09 11:56] kochhar commented on #102
Please share some links to docs which explain how soapui can be scripted
via bash for test automation. I will share with the team and organise the
feedback on its suitability.

On 09-Nov-2017 17:05, "arjun u" <notifications@github.com> wrote:

[2017-11-09 12:14] Manojvv commented on #108
@Abhishek-Govula
can you please share me the output of below two commands
`ps -ef | grep cassandra`
`cqlsh`

[2017-11-09 12:22] Abhishek-Govula commented on #108
Output for ```ps -ef | grep cassandra ```
[code]

##

Output for ```cqlsh```
[code]

[2017-11-09 12:35] Abhishek-Govula commented on #105
@kochhar , @coolbung  I am able to access the EkStep QA API with the new credentials now. Thank you for your help. :)

[2017-11-09 12:59] arjun1092 commented on #102
@kochhar : Do you want links which describes : how to execute Soapui , scripts  via CLI ?

[2017-11-09 13:40] coolbung commented on #105
Sounds good. Realised that your consumer will need access to a few more groups. Can you share the name of the consumer (you will see this in the username column) on https://qa.ekstep.in/api-credentials

Please mail the same to me so that we can update your consumer.

[2017-11-09 14:12] Abhishek-Govula commented on #108
I had problems with the version of cassandra installed by the automation scripts. It is installing the latest version, which is for some reason not working for Ubuntu 16.04. I have installed the Cassandra v3.11 and got up the service and ```cqlsh``` running.

After getting cassandra to run, I have got the following error.
[code]

Can I ignore this error?

[2017-11-09 15:22] Abhishek-Govula commented on #108
Error while initialising the postgres data, below is the error message
[code]

Do I need to create any extra user for postgres ? #bodhi

[2017-11-10 03:06] kochhar commented on #102
Hi @arjun1092, thanks a lot for the links. As of now, we don't understand the context around using SoapUI -- what are the problems with the alternatives and what kind of benefits would result from using SoapUI?

It would be useful for to create a one-page document which can help everyone involved understand the proposal you are making in detail. Here's an example of a document which was useful whe

[2017-11-10 03:16] kochhar opened #109 "Need standalone Player Code"
@sujeetkrjaiswal commented on [Thu Nov 09 2017](https://github.com/project-sunbird/sunbird-portal/issues/36)

Since there is no comments in the code, and there is no independent document for the portal app, If you can help with the finding the player code, which as discussed should be independent and self sufficient.

Since I am exploring, it would be much helpful, if we can have a demo page, whic

[2017-11-10 03:18] kochhar commented on #109
@harishgilimi could you please help @sujeetkrjaiswal with references to the ekstep player code and the player plugin documentation.

[2017-11-10 05:23] Manojvv commented on #108
still cassandra is not able to connect. when you run `cqlsh` you should be able to see database console.

for postgresql-data-update:
1) please verify `application_postgres_password`variable is set.
2) did install-dbs.sh passed for the postgresql installation?
3) make sure postgresql is running.

[2017-11-10 05:47] rajooda commented on #104
It is direct build of the github code. The authentication with keycloak is successfull and then the above error is thrown in LogCat. I see few more changes have been done to the code. I will take those changes and then share the diff with the LogCat

[2017-11-10 06:46] rajooda commented on #104
@AmiableAnil

I have gist for you with LogCat and build.gradle at

https://gist.github.com/rajooda/9577fdd3d064ce0ed886d180d4c7726a

[2017-11-10 07:38] Abhishek-Govula opened #110 "Error in the init-dbs.sh for cassandra"
Error in the file [https://github.com/project-sunbird/sunbird-devops/blob/master/ansible/roles/cassandra-cql-update/templates/cassandra.cql#L601](https://github.com/project-sunbird/sunbird-devops/blob/master/ansible/roles/cassandra-cql-update/templates/cassandra.cql#L601)

Here the script is trying to remove a non existing column named ``tcupdatedat`` from the table ```user``` in the keyspace ```s

[2017-11-10 07:40] Abhishek-Govula commented on #108
Found the problem while running the ```init-dbs.sh``` for cassandra. Issue raised #110

[2017-11-10 09:33] Abhishek-Govula commented on #108
@Manojvv ```install-dbs.sh``` passed successfully for postgres, but I'm facing the same issue as cassandra. The service was running but the connection for ```psql``` was not successful. I have installed ```postgres3.11``` and got the db running.

Fixed the problem with _postgresql-data-update_, the default user was ```quartz```. Since I have set up the databases manually, I had to create a user na

[2017-11-10 12:32] rajooda commented on #104
@AmiableAnil

Hi Anil,

What are these variables?
mentioned at L95 and L96?

https://github.com/project-sunbird/sunbird-mobile/blob/master/app/build.gradle#L95

How do I get these? I am trying to hitting:
https://staging.open-sunbird.org

[2017-11-10 14:20] Abhishek-Govula opened #111 "Issue while running deploy-apis.sh #bodhi"
I am facing some issues while running the [deploy-apis.sh](https://github.com/project-sunbird/sunbird-devops/blob/master/Installation.md#step-4-setup-application-and-core-services)

Below is the output
[code]
 Please help, the ```TASK [bootstrap_swarm : Create networks]``` had ran successfully on the first run, but the ```TASK [kong-api : Ensure kong_admin_api_url is available before running the s

[2017-11-10 14:48] bachia commented on #63
@kochhar apologies for the delayed response.

yes, I still have the error.

[2017-11-11 02:26] endeepak commented on #111
The error shows connection error to kong url `http://172.20.10.7:8001/status`. Please check if url `http://172.20.10.7:8001/status` is accessible

If not, check if `api-manager_kong` service is running. Please follow steps in https://github.com/project-sunbird/sunbird-devops/wiki/Docker-swarm-management-commands#list-services-running-in-swarm to find more details

[2017-11-11 07:45] Abhishek-Govula commented on #111
I did not install or start this service. Is this installed by install-deps.sh script ?

[2017-11-11 07:47] endeepak commented on #111
It is installed as part of deploy-apis.sh

On Sat, Nov 11, 2017 at 1:16 PM, Abhishek Govula <notifications@github.com>
wrote:

--
Regards,
Deepak N
@endeepak

[2017-11-11 10:18] sujeetkrjaiswal commented on #109
@harishgilimi I tried creating a separate app, with player as a different module and added a dependency in main app, will just use a directive to play the content. The player part is not implemented, but I have added few basic thing. Will be adding to it as and when I understand things to it. It would be of much help, if you can take your time to help me finish this. The repo is at https://github.

[2017-11-12 04:36] Abhishek-Govula commented on #105
@coolbung apologies for the late reply, the consumer name is: ```5a03f1804ce01```

[2017-11-12 04:46] Abhishek-Govula commented on #109
@sujeetkrjaiswal Update the README of the repo to show the installation and build instructions

[2017-11-13 02:34] kochhar commented on #111
@endeepak the log shows that the docker network failed to be created. is that expected behaviour?

[2017-11-13 03:48] endeepak commented on #111
@kochhar The network creation error can be ignored while running script second time onwards or running multiple scripts which try creating the same set of networks. In general any ansible output which has `failed` followed by `ignoring...` line fall into this category

Networks can be checked via

[code]

[2017-11-13 03:55] endeepak commented on #110
@vrayulu @manzarul @harishgilimi Can you please look into the Cassandra sql issue

[2017-11-13 04:19] sujeetkrjaiswal commented on #109
@Abhishek-Govula Installation and build instruction for dev is done. For prod build and testing, things are not yet configured. But I hope, Dev setup should do for the given issue

[2017-11-13 06:14] Abhishek-Govula commented on #111
@endeepak The service is running in the docker swarm, but I'm unable to access the url ```http://172.20.10.7:8001/status```

Below is the output when I try to access the url
[code]

Output for ```docker service ls``` (In the [documentation](https://github.com/project-sunbird/sunbird-devops/wiki/Docker-swarm-management-commands#list-services-running-in-swarm), it is mentioned ```docker services ls`

[2017-11-13 06:23] Abhishek-Govula commented on #111
@endeepak
Please find the output for the ```docker ps```
First run
[code]

Second run
[code]

Output for ```docker images```
[code]

[2017-11-13 06:31] endeepak commented on #111
@Abhishek-Govula The line ` api-manager_kong      replicated          0/1 ` indicates 0 out of 1 replica is running. This means service hasn't started. Since you have setup postgres manually you might not have added database users  needed for API manager

Could you please get service info by running https://github.com/project-sunbird/sunbird-devops/wiki/Docker-swarm-management-commands#get-info-of

[2017-11-13 07:40] Abhishek-Govula commented on #111
@endeepak Can you please share the link to the scripts to create the users required ?

Output for info of services
[code]

[code]

[code]

Output for the databases and the tables for user quartz in postgres
[code]

[2017-11-13 08:00] endeepak commented on #111
@Abhishek-Govula If you are setting up postgres on new server, we recommend you to use `install-db.sh` as mentioned in docs. That would setup users and databases required for all services used in sunbird

If you prefer to setup database and users manually,

Create databases listed in:
https://github.com/project-sunbird/sunbird-devops/blob/f8000e3d66a3983673bde2793c92313e3d725b4e/ansible/inventorie

[2017-11-13 08:05] bachia commented on #63
@kochhar @nikithshetty-juspay @AmiableAnil @vrayulu @Manojvv @souvikmondal

All, thank you for your time just now. I can confirm that I am able to build APK and it works properly on my device.

I had the following to make it work.

- Pull the latest code
- Redeploy admin-util at server side

I can also confirm that Profile tab is also working.

I understand a new feature will be made available for

[2017-11-13 08:57] Abhishek-Govula commented on #111
@endeepak I tried using the ```install-dbs.sh``` script to install the postgres, but the service was not starting up for the installation done by the script which made me go for the manual installation.

Now I have set up the databases required
[code]

Below is the output for the list of databases, I have given all the permissions to the respective users as well
[code]

Please let me know if this

[2017-11-13 09:07] ajinkya-k opened #112 "#bodhi No controller for sending and getting telemetry data."
The telemetry events are directly sent to EkStep. Is there any controller for telemetry events in Sunbird? How to access the telemetry data from sunbird?

[2017-11-13 09:09] endeepak commented on #111
@Abhishek-Govula The databases and users seems to correct. Can you please try accessing the postgres db from app server using postgres client. This will help in debugging any network or firewall related issues.

Please ensure `postgres_hba.conf`  has the `postgresql_hba_entries` listed in https://github.com/project-sunbird/sunbird-devops/blob/f8000e3d66a3983673bde2793c92313e3d725b4e/ansible/invent

[2017-11-13 09:18] Abhishek-Govula commented on #111
@endeepak Right now, I am running both the dbs and application on a single server since I have firewall restrictions. Will this cause a problem ?

Also, do I need to add all the entries, like
[code]
I am assuming that the auth method is password since this is being picked up from the configuration yml file. Are these entries correct ?

[2017-11-13 09:26] endeepak commented on #111
I guess postgres only allows peer authentication by default. Can you please
provide existing entries in postgres_hba.conf

On Nov 13, 2017 2:48 PM, "Abhishek Govula" <notifications@github.com> wrote:

[2017-11-13 10:51] Abhishek-Govula commented on #111
@endeepak  Tried all the possible combinations with database, auth_method and user, but still no success.
Can I run the `init-dbs.sh`, Since postgres is already installed, I am assuming the check is done, to see whether the database server is installed and then the roles are created.

[2017-11-13 11:31] AmiableAnil commented on #104
@rajooda
You need to generate key and secret for `mobile_app` user using JWT token of `mobile_admin` user.

Please find the steps here
[https://github.com/project-sunbird/sunbird-devops/blob/master/Installation.md#step-6-generate-key-and-secrets-for-mobile-app](https://github.com/project-sunbird/sunbird-devops/blob/master/Installation.md#step-6-generate-key-and-secrets-for-mobile-app)

[2017-11-13 13:01] kochhar commented on #111
Hi Abhishek, the scripts are idempotent so they will bring the system to
the desired state. You can run them again.

On Mon, Nov 13, 2017 at 4:21 PM Abhishek Govula <notifications@github.com>
wrote:

[2017-11-13 13:03] Abhishek-Govula commented on #111
@kochhar I don't think they are idempotent, I had ran the scripts and my current setup of postgres has broken. I had to reinstall and create all the users and roles again :(

[2017-11-13 13:26] Abhishek-Govula commented on #111
@kochhar This is happening because of the hba configuration of postgres. Below is my configuration
[code]
Fresh instance of postgres which is running fine, fails to connect after the configuration is modified by the `install-dbs.sh` script. Can someone please tell me if this configuration is correct ?

Below is the configuration of postgres at `/etc/postgresql/9.5/main/pg_hba.conf` after I run the

[2017-11-13 13:41] endeepak commented on #111
You need to fill the swarm_address_space variable in the inventory
group_vars

On Nov 13, 2017 6:56 PM, "Abhishek Govula" <notifications@github.com> wrote:

[2017-11-13 13:50] Abhishek-Govula commented on #111
@endeepak Right now, I am running both app and db on the same server, so should this be the internal ip addr ?

[2017-11-13 13:55] endeepak commented on #111
It needs to subnet address in cidr format

On Nov 13, 2017 7:20 PM, "Abhishek Govula" <notifications@github.com> wrote:

[2017-11-13 14:06] Abhishek-Govula commented on #111
@endeepak Is there a way I can know this address before configuration, or can this be any subnet adress ?

[2017-11-13 14:15] endeepak commented on #111
@Abhishek-Govula If it is single server, please use `<ip-address>/32`  for now.

[2017-11-13 14:19] endeepak commented on #111
@Abhishek-Govula If you plan to multiple servers in future, please refer to https://networkengineering.stackexchange.com/questions/7106/how-do-you-calculate-the-prefix-network-subnet-and-host-numbers for finding network address in CIDR format

[2017-11-13 16:11] Abhishek-Govula commented on #111
I have enabled all incoming connections from all the ports on Postgres using
[code]
This should enable the api-manager_kong app to access the Postgres, yet I'm facing the issue. I think the way api-manager_kong trying to connect to the database is causing the issue. Is there a way to replicate the running of this docker image as it is run by the docker service?

[2017-11-13 16:26] endeepak commented on #111
Please try command for testing postgres connection

[code]

Please provide logs from kong service

[2017-11-13 16:59] Abhishek-Govula commented on #111
[code]

[2017-11-13 17:32] Abhishek-Govula commented on #111
Update on the kong service
The api-manger_kong is running now.
[code]

Logs
[code]

But the connection error
[code]
still persists. Please help !

[2017-11-14 01:54] endeepak commented on #111
Please try to curl the url on command line

[code]

Please check if private ip of the app server is `172.20.10.7`. If not, please set the the value of `kong_host` in inventory group_vars with the correct ip address

[2017-11-14 05:08] Manojvv commented on #108
@Abhishek-Govula
 manzarul will look into the issue with `https://github.com/project-sunbird/sunbird-commons/issues/110 `.
Is there any existing issue which you are facing other than Issue:110?

[2017-11-14 05:22] manzarul commented on #110
@endeepak  that delete script is not required , will delete it

[2017-11-14 05:40] Abhishek-Govula commented on #111
App has started up successfully, but with few warnings. Below is the output when I ran `deploy-apis.sh`

[code]
Please let me know if this is alright. Can I go ahead with this ?

[2017-11-14 05:44] Abhishek-Govula commented on #108
@Manojvv There is a problem with the `pg_hba.conf` while running the `install-dbs.sh` for Postgres as well. Should I raise another issue regarding that ?

[2017-11-14 05:48] endeepak commented on #111
@Abhishek-Govula That is good. You can ignore the warnings. Please go ahead with next steps

[2017-11-14 06:00] kochhar commented on #112
@ajinkya-k sunbird provides dashboards for admins which provide summary views of the telemetry. for raw telemetry data you'll need to pull out the data from the ekstep platform.

[2017-11-14 07:03] mathewjpallan commented on #110
@Abhishek-Govula Commenting the line is ok and you should not face any issues because of that. We have removed the drop column cql as it was not necessary.

[2017-11-14 07:58] Manojvv commented on #108
@Abhishek-Govula
I will check the error and fix. If possible please give the error log.  I assume you not blocked because of this issue,  as you installed postgresql manually.

[2017-11-14 10:18] Abhishek-Govula opened #113 "Error while running deploy-keycloak-vm.sh #Bodhi"
I trying to run the `deploy-keycloak-vm.sh` script, but facing the following issue.

[code]

Please help!

[2017-11-14 10:23] kochhar commented on #113
Seems like a internet timeout. Can you check the internet connection on the
VM?

On Tue, Nov 14, 2017 at 3:48 PM Abhishek Govula <notifications@github.com>
wrote:

[2017-11-14 10:45] ahghatol commented on #105
@Abhishek-Govula we have granted access to your consumer to few more groups.

cc @coolbung

[2017-11-14 10:59] Abhishek-Govula commented on #113
@kochhar Connection is working fine,
Output for my curl request
[code]

[2017-11-14 11:03] kochhar commented on #113
Okay @Abhishek-Govula seems we need to debug the code fetch. Could you run the ansible with extra verbosity turned on so we can see what command is being run? Also is the ansible script being run on the same host where Keycloak will be installed?

Thanks!

[2017-11-14 11:57] Abhishek-Govula commented on #113
@kochhar , ansible script is running on the same server where keycloak is installed. Can you please provide the command for running the ansible with extra verbosity turned on?

[2017-11-14 12:07] kochhar commented on #113
Hi Abhishek, this stack overflow question should give you more details:
https://stackoverflow.com/questions/42417079/how-to-debug-ansible-issues

You can add the flags to the ansible command lines inside the shell script.

On 14-Nov-2017 17:27, "Abhishek Govula" <notifications@github.com> wrote:

[2017-11-14 13:22] Abhishek-Govula commented on #113
@kochhar Can you please provide the exact script to run ? I am unable to locate the file which is being run for this task

[2017-11-14 13:58] kochhar commented on #113
The script you are running is deploy-keyckoak-vm.sh. This is the script
which invokes ansible. You can add the debugging flags to the ansible
command in this script and rerun.

On 14-Nov-2017 18:52, "Abhishek Govula" <notifications@github.com> wrote:

[2017-11-14 14:00] Abhishek-Govula commented on #113
@kochhar Can I downlaod this file manually and place it in a location? I tried using the wget and downloaded the file successfully

[2017-11-14 14:00] kochhar commented on #113
Its the last line of the script which begins with ansible-playbook

On 14-Nov-2017 19:28, "Shailesh Kochhar" <shailesh@ekstepplus.org> wrote:

[2017-11-14 14:32] Abhishek-Govula commented on #113
@kochhar downloading the file through wget in some other location had saved it in the wget's cache which fixed the issue of read-timeout.
Thanks a lot for constant help :)

[2017-11-14 15:12] Abhishek-Govula opened #114 "Issue while setting up the sunbird-devops after keycloak setup #bodhi"
I am trying to setup the [sunbird-devops](https://github.com/project-sunbird/sunbird-devops/blob/master/Installation.md), and was able to successfully setup the application until `/deploy-keycloak-vm.sh`.
The next step is to setup the realm [here](https://github.com/project-sunbird/sunbird-commons/wiki/Keycloak-realm-configuration). This documentation says that keycloak will be running as a docker

[2017-11-14 16:01] kochhar commented on #114
@coolbung could you please take a look at this, seems that the documentation might still be referenced keycloak in docker.

[2017-11-14 17:40] Abhishek-Govula commented on #114
I found where the installation is done and am able to login to the keycloak.
Download realm link [here](https://github.com/project-sunbird/sunbird-commons/wiki/Keycloak-realm-configuration#import-realm) does not seem to work. Can you please provide the realm download URL

[2017-11-14 17:48] Abhishek-Govula commented on #110
@mathewjpallan Thank you for the confirmation. Using this script for now :)

[2017-11-14 17:58] Abhishek-Govula commented on #108
@Manojvv I don't have the error log, but the reason is as follows.

The error is occurring when I install the postgres using the `install-dbs.sh`. The script is reading the hba configuration required for postgres from the inventory configuration.
After this, the `pg_hba.conf` file is replaced with a file containing the inventory configuration.

This configuration file is not properly formatted and

[2017-11-14 18:00] Abhishek-Govula commented on #111
@endeepak Thank you for you constant help. I was able to deploy the apis successfully. Right now working on setting up the keycloak

[2017-11-14 18:02] Abhishek-Govula commented on #112
@kochhar Is this data being sent to EkStep directly from the UI application or being routed through a sunbird hosted API?

[2017-11-14 22:45] endeepak commented on #108
The issue wasn't with tab and space separation in the pg_hba.conf. The
issue was due to empty value for swarm_address_space variable in the
inventory group vars. This lead to invalid config in last line of
configuration

We'll have to look into adding validation in the scripts which can surface
this error with helpful hints for fixing it

On Nov 14, 2017 11:28 PM, "Abhishek Govula" <notifications@

[2017-11-15 00:51] Abhishek-Govula commented on #108
@endeepak `swarm_address_space` not being mentioned in the inventory group vars was the issue why external connections from the app server were being allowed to connect to Postgres. That issue is fixed. Thanks to you!

This issue is rather different. On a working installation of Postgres, if I run the `install-dbs.sh` even with `swarm_address_space` variable being mentioned in the configuration, i

[2017-11-15 02:58] coolbung commented on #114
Here's the correct link -
https://raw.githubusercontent.com/project-sunbird/project-sunbird.github.io/dev/files/keycloak-realm.json

Thanks for pointing this out, we'll update the docs.

[2017-11-15 03:44] shyamprasadkr commented on #112
@kochhar Thanks for the response. We want to pull raw data using data exhaust apis. This requires license key. Ref:  https://community.ekstep.in/developer-apis/data-exhaust-api . @ajinkya-k  has raised the request for the same.   Can you please send it?

[2017-11-15 04:52] arjun1092 commented on #102
@kochhar  : I can go ahead with Postman.(I was yet to explore pm.* API when I posted this).

Please shed some light on tools used for functional @madhucr ,performance @mathewjpallan  and mobile testing @mathewjpallan )

[2017-11-15 05:15] kochhar commented on #102
@arjun1092 sure, please go ahead with Postman. If you'd like to automate running the tests, Postman includes a console-based test runner called newman. This blog explains in more detail how to use newman to automate API tests from your build system.
http://blog.getpostman.com/2015/09/03/how-to-write-powerful-automated-api-tests-with-postman-newman-and-jenkins/

As before, the API spec can be downl

[2017-11-15 05:59] arjun1092 commented on #102
@kochhar  I need information for the tools used for the rest as well for the Bodhi project .  Please let me know those details ate the earliest.
What is the current status for SOA testing? Any specific pipeline or something is  already defined in jenkins ?
 Any specific syntaxes or conventions  to be followed while writing test scripts.?

[2017-11-15 06:13] coolbung commented on #112
@ajinkya-k Can you please submit a fresh request asking for only the 'Request and download datasets' group.

[2017-11-15 06:27] coolbung commented on #112
Approved.

[2017-11-15 06:40] ajinkya-k commented on #112
@coolbung The Data Exhaust API requires a License Key. Is this the same as the key?

[2017-11-15 07:10] ajinkya-k commented on #112
@coolbung
1. The Data Exhaust API requres a License Key. Is that the same as the API key?
2. The Data Exhaust API also requires a token in the SHA1 for the message field. Is that the same as the QA JWT token?

[2017-11-15 08:21] coolbung commented on #112
Let me come back to you on the license key and how to get the SHA hash value.

Also, you should ask for the data exhaust API permission on qa.ekstep.in as well, since you're currently connecting sunbird to the QA platform.

cc @navaneeth

[2017-11-15 08:22] ajinkya-k commented on #112
@coolbung I have already requested access for QA data exhaust API

[2017-11-15 08:23] coolbung commented on #112
Approved on QA

[2017-11-15 09:35] Abhishek-Govula opened #115 "Need help updating keycloak configs #bodhi"
I have setup keycloak server and setup the realm. Now the doc says to update the following configs

[code]
goto the `clients->admin-cli->Installation->` **_I don't see a json format here_**, The available formats are

1. Keycloak OIDC JBoss Subsystem XML
2. Keycloak OIDC JSON

On selection of Keycloak OIDC JSON, I see the following JSON structure
[code]
Where do I update the configs as mentioned i

[2017-11-15 09:43] kochhar commented on #115
@manzarul @harishgilimi could you please guide on this issue.

[2017-11-15 11:04] navaneeth commented on #112
I'd recommend to use the On Demand Data exhaust API. Documentation is available at - https://community.ekstep.in/developer-apis/on-demand-data-exhaust-api#

[2017-11-16 05:47] AmiableAnil commented on #104
@rajooda

Hi Rajeev,

Please let me know if the above issue is resolved or not?

[2017-11-16 06:22] Abhishek-Govula commented on #111
I am facing an error after I restart my machine starting the `api-manager_kong`. The following is the error
[code]

Can you please help

[2017-11-16 06:29] Abhishek-Govula commented on #115
Can someone please help with the information. If needed, I can share my screen and show the exact error

[2017-11-16 06:36] endeepak commented on #111
In your previous comment https://github.com/project-sunbird/sunbird-commons/issues/111#issuecomment-343823981 the `application_default` network was visible

Please check output of `docker network ls` now.

[2017-11-16 07:59] pranvendra opened #116 "Is there any documentation for mappings in Elasticsearch? #bodhi"
I want to know how the data is being stored in Elasticsearch. The indexes and its mapping. Right now, I am not able to find any documentaion for the same.

[2017-11-16 08:04] Abhishek-Govula commented on #111
@endeepak Thanks for pointing out the problem.

I see this problem on my side because, after system restart, my default network is being connected to a different connection and ip other than the one mentioned in the inventory config. But after I connect back to the network and ip mentioned in the inventory config and restart the service, it is not helping.

I guess restarting the service will not

[2017-11-16 08:16] endeepak commented on #111
IP change shouldn't affect networks in docker swarm. You can run the deploy-* scripts again, if you have updated any variable in inventories. Please run deploy-apis and see if it helps.

It it doesn't help, please provide the current error message and output of `docker network ls` for further debugging

[2017-11-16 08:28] Abhishek-Govula commented on #111
The error I mentioned is after I run deploy-apis.sh i.e
[code]

[2017-11-16 08:38] endeepak commented on #111
Please provide output of ``docker network ls`

[2017-11-16 10:03] Abhishek-Govula commented on #111
[code]

[2017-11-16 11:49] steotia commented on #111
@Abhishek-Govula Could you please run ./deploy/system-check.sh, mask out any private info and share the output? You can run it on the swarm master.
Can you please explain your setup a bit? Is it a single node swarm?

[2017-11-17 06:32] ajinkya-k opened #117 "#bodhi Undefined telemetry event CP_IMPRESSION"
A telemetry event with id  `CP_IMPRESSION` is being generated from the Sunbird Staging portal. However, the API call to `https://staging.open-sunbird.org/private/service/v1/content/data/v1/telemetry
` is failing with the error `unable to find event definition for eid :cp_impression"`

[2017-11-17 09:31] ajinkya-k opened #118 "#bodhi Missing EID in Telemetry event JSON created on submitting feedback for content"
When user submits feedback after viewing content, the value for the key `eid` in the telemetry event JSON  is blank.

[2017-11-20 05:56] ajinkya-k commented on #112
@navaneeth
What is the dataset_id used to identity which dataset to fetch?
Also, how do I obtain a client_key that required in the params

[2017-11-20 10:07] Kavya1403 opened #119 "#Bodhi creating content in sunbird"
While creating study material what does the different resource types signify when ultimately all the options take us to the editor and the study material is available as resource after saving the content.

[2017-11-20 12:41] navaneeth commented on #112
@ajinkya-k

dataset_id | Type | Dataset
-- | -- | --
eks-consumption-raw | Consumption | Raw telemetry events
eks-consumption-summary | Consumption | Summary events
eks-consumption-metrics | Consumption | Metrics
eks-creation-raw | Creation | Raw telemetry events
eks-creation-summary | Creation | Summary events
eks-creation-metrics | Creation | Metrics

[2017-11-20 13:33] coolbung commented on #115
Please refer [this docs page](https://github.com/project-sunbird/sunbird-commons/wiki/Keycloak-realm-configuration
) to import the realm followed by a few steps to be performed in the Keycloak admin

Assuming you imported the sample realm, use the below values for config -

sunbird_sso_client_id: admin-cli
sunbird_sso_username: ## username for the user you created ##
sunbird_sso_password: ## passw

[2017-11-20 13:35] Abhishek-Govula opened #120 "player application not starting on docker swarm #bodhi"
I am trying to run the deploy-core.sh script, but the player app is not starting in the swarm.
Below is the output
[code]

[code]

[code]

Please help

[2017-11-20 13:54] Abhishek-Govula opened #121 "Error while running the deploy-proxy.sh #bodhi"
I have a problem while running the deploy-proxy.sh script. Below is the output with verbose enabled
[code]
This is my last step of setting the app up. Please help!

[2017-11-20 14:26] coolbung commented on #115
I just updated the docs page in the link above to add an important step about configuring user roles for the `user-manager` user.

[2017-11-20 17:35] Abhishek-Govula commented on #121
Fixed it!
The problem was with the configuration of the certificate value in the inventory yml. The comment at the end of the actual certificate value was creating the problem. Please let me know if that is the issue, since the walk through video provided in the devops installation guide had the comment like I did, but it worked fine in that case.

[2017-11-21 02:30] kochhar commented on #116
@pranvendra At present these is not a document available for this. Welcome contributions from your side. Please let me know if you need guidance on how to go about contributing the documentation.

Thanks!

[2017-11-21 02:30] #116 closed

[2017-11-21 03:50] arjun1092 commented on #102
hi @kochhar , Can you please provide the inputs for the query above.

I need information for the tools used for the rest as well for the Bodhi project . Please let me know those details at the earliest.
What is the current status for SOA testing? Any specific pipeline or something is already defined in jenkins ?
Any specific syntax's or conventions to be followed while writing test scripts.?

[2017-11-21 04:21] endeepak commented on #121
Thanks @Abhishek-Govula. Comment string seems to the issue https://github.com/ansible/ansible/issues/2770. Your fix is correct

[2017-11-21 04:21] #121 closed

[2017-11-21 04:25] endeepak commented on #120
@Abhishek-Govula Please check output of `docker service ps <service-name> --no-trunc` which is more useful than `docker ps` in debugging service startup issues

Ref: https://github.com/project-sunbird/sunbird-devops/wiki/Docker-swarm-management-commands

[2017-11-21 04:35] Abhishek-Govula commented on #120
@endeepak

This is the output
[code]

[2017-11-21 04:39] endeepak commented on #120
Thanks @Abhishek-Govula.

@manzarul @harishgilimi Player service fails to start with exit code 1 and there are no errors logged. Please help @Abhishek-Govula to resolve this issue cc: @vrayulu @Manojvv

[2017-11-21 04:41] ajinkya-k opened #122 "#bodhi Dashboard chart loading issue"
Charts in My Activity Dashboard of creator user do not load if more than one course is published. The charts are displayed if only one course is published

[2017-11-21 05:27] kochhar commented on #122
thanks @ajinkya-k I am verifying this bug report also.

[2017-11-21 05:34] kochhar commented on #109
Also needed is the source for the authoring tool.

[2017-11-21 07:29] kochhar commented on #102
@arjun1092 the current tool used is postman. the API specification for postman can be downloaded from the sunbird.org/api_docs site. at present SOA testing is WIP. No pipelines have been defined.

When writing test-cases, please use Javascript test cases in Postman.
Please ensure that environment details are abstracted into a postman environment so those details do not get introduced into the code

[2017-11-21 07:39] Abhishek-Govula opened #123 "Need information regarding application and database #Bodhi"
I need the following information

**Database**
1. Are there any data initialization scripts?
2. Are the any initial entries for ORG, ROLE, USERS etc,.
3. Which application is using MongoDB? And for what purpose is it being used ?
4. Is there any seed data which gets initiated on launch of any application? If so, can you please point to it?

**Application**
1. How do I test if the apis are working

[2017-11-21 08:43] kochhar commented on #123
documentation! documentation!! documentation!!!
jokes aside, yes these docs are needed. @Abhishek-Govula perhaps a meeting in person may be more efficient at getting you started with the sunbird application.

[2017-11-21 08:48] kochhar commented on #119
@nadayogi can explain this in better detail. perhaps this needs a faq from the @project-sunbird/techwriters

[2017-11-21 08:52] Abhishek-Govula commented on #123
@kochhar. Yes indeed. I’m nearly ready setting up the application. Some developer level documentation would be great. If possible, we can meetup this week some day. We are available on weekends as well ;)

[2017-11-21 10:53] kochhar commented on #108
closing as this seems to be fixed.

[2017-11-21 10:53] #108 closed

[2017-11-21 10:53] kochhar commented on #110
closing as this seems fixed

[2017-11-21 10:53] #110 closed

[2017-11-21 10:54] kochhar commented on #111
@Abhishek-Govula still encountering problems? or is this resolved?

[2017-11-21 10:54] kochhar commented on #115
@Abhishek-Govula closing as this seems resolved. please re-open if the configuration problem persists.

[2017-11-21 10:55] kochhar commented on #105
closing this as permissions seem fixed.

[2017-11-21 10:55] #105 closed

[2017-11-21 10:56] kochhar commented on #104
closing this issue since it seems resolved.

[2017-11-21 10:56] #104 closed

[2017-11-21 10:56] #115 closed

[2017-11-21 10:57] kochhar commented on #69
@bachia I'm closing this issue since it seems to be resolved for now. Please feel free to re-open or to add for new problems encountered.

[2017-11-21 10:57] #69 closed

[2017-11-21 11:08] harishgilimi commented on #120
@Abhishek-Govula  can you provide latest logs for the player

[2017-11-21 11:17] Abhishek-Govula commented on #120
Logs are like below
[code]

[code]

[2017-11-21 12:22] Abhishek-Govula commented on #120
Update information if it may be of any help.

I ran the same docker image on a container without making it a service and the same image is working fine.

Below is the output
[code]

[code]

[2017-11-21 12:30] kochhar commented on #120
@harishgilimi most likely health check failure inside the swarm.

On 21-Nov-2017 5:52 pm, "Abhishek Govula" <notifications@github.com> wrote:

[2017-11-21 13:22] Abhishek-Govula commented on #120
@harishgilimi @kochhar Also the port is not being bound from docker container to my local machine

[2017-11-21 15:05] Abhishek-Govula commented on #120
@endeepak
1. I have stopped the current `player_player` and `proxy_proxy` service (scaled it to 0).
2. Used `docker run --name appname --net=host sunbird/player:0.0.6-gold`
3. wget http://localhost:3000. This was successful.

Also, I think it is the health check issue itself since the code is returning exit 1 status [here](https://github.com/project-sunbird/sunbird-devops/blob/master/ansible/roles

[2017-11-21 15:22] Abhishek-Govula opened #124 ""Access Denied" after login to the portal. #Bodhi"
I successfully setup the application and trying to login to the portal.

Creds used: `user-manager` user created [here](https://github.com/project-sunbird/sunbird-commons/wiki/Keycloak-realm-configuration)

After the successful login, the page is redirected to `https://hostname/private/index?auth_callback=1&state=a18b1c02-6289-479d-8e6d-b43b2ba77ffd&code=uss.LqIiSd-qIIpwtp0rIzj-l4VFoldIYkjGERKvCRh

[2017-11-21 15:30] endeepak commented on #120
@Abhishek-Govula Thanks a lot for detailed report on this. You can use the workaround for now. This service might be taking longer than configured interval and timeout values

@harishgilimi @Manojvv @bineesh13487 We need to make this configurable from our side and set the default check interval and timeout values to handle minimal setup

[2017-11-22 18:19] Abhishek-Govula commented on #124
@kochhar Any help on this please ?

[2017-11-23 03:18] kochhar commented on #124
@Abhishek-Govula seems the application is not being able to validate your login. is the player application configured with the correct auth server address? could you verify the [config entries](http://www.sunbird.org/developer-docs/installation/installing_sunbirdon_laptop/#link1-1-3) for the player?

[2017-11-23 03:18] kochhar commented on #124
@harishgilimi any tips on debugging the 403?

[2017-11-23 04:44] #76 closed

[2017-11-23 05:15] harishgilimi commented on #124
@kochhar it happens when keycloak config is not correct, @Abhishek-Govula please check your keycloak config using admin console

[2017-11-23 09:11] kochhar commented on #120
@endeepak @bineesh13487 the devops code is no longer backwards compatible with the sunbird/player-0.0.6-gold release. the health-checks need to be rolled back so that they can support the 0.0.6 release.

[2017-11-23 09:15] coolbung commented on #114
Ref https://github.com/project-sunbird/project-sunbird.github.io/issues/65

[2017-11-23 10:56] Abhishek-Govula commented on #124
@harishgilimi I have setup the keycloak as per the docs once again.

I am using self signed certificates and the following are the logs
[code]

[2017-11-23 11:15] endeepak commented on #120
@Manojvv is this incompatible change is due to base image change in player? If yes, let us remove the health check in stack file for player. It doesn't add as much value compared to the issues faced so far. Once we have release tagging and branching strategy in place, we could bring it back

[2017-11-23 13:01] juthikaqa commented on #122
Issue fixed at Sunbird staging and NTP staging environment

[2017-11-24 05:41] Abhishek-Govula commented on #115
The docs page mentioned in this [comment](https://github.com/project-sunbird/sunbird-commons/issues/115#issuecomment-345696484), says we need to save the secret and auth token and it will be used later. But except for `sunbird_trampoline_secret`, the others have not been used. Is this expected or am I missing any step in the configuration ?

[2017-11-24 05:47] Abhishek-Govula commented on #124
@harishgilimi

I have created the realm and clients using the json file provided in the document [here](https://github.com/project-sunbird/sunbird-commons/wiki/Keycloak-realm-configuration). Also the document here says the secret and registration access token will  be used later, but except for the `sunbird_trampoline_secret`, other secrets or the access tokens are not used anywhere. Is this expec

[2017-11-24 06:08] Abhishek-Govula opened #125 "Information needed regarding the "retire" endpoint for content #Bodhi"
The content retire API endpoint `https://staging.open-sunbird.org/api/content/v1/retire` being used to delete the content or list of content.

On the EkStep environment, is this API soft deleting the content being created on the S3 storage or is it being permanently deleting the content which cannot be undone ?

I wanted to know if it is possible to access the list of resources deleted by the user

[2017-11-24 06:51] kochhar commented on #125
The EkStep APIs are documented at https://community.ekstep.in/developer-apis/
Please see the content service APIs for more details.

https://community.ekstep.in/developer-apis/content-platform-api
Sorry, I can't link to the exact API, for some reason those links result in 404s.

[2017-11-24 06:51] #125 closed

[2017-11-24 07:21] endeepak commented on #120
@kochhar We've removed the backward incompatible health-check from player deployment as mentioned above

[2017-11-24 07:25] vinukumar-vs commented on #118
Feedback of the content is not generating any event in portal.
Content feedback functionality will work only in mobile(sending feedback telemetry to Genie-SDK)

@harishgilimi @vrayulu @AmiableAnil

[2017-11-24 09:29] kochhar commented on #124
Hi Abhishek, could you please try with verifiable certificate? The error
logs show that the certificate cannot be verified.

On 24-Nov-2017 11:17 am, "Abhishek Govula" <notifications@github.com> wrote:

@harishgilimi <https://github.com/harishgilimi>

I have created the realm and clients using the json file provided in the
document here
<https://github.com/project-sunbird/sunbird-commons/wiki/Keyc

[2017-11-27 07:10] kochhar commented on #120
@Abhishek-Govula could you retry the player image to see if this fixes the issue? @endeepak is there an updated release which should be fetched to get the new health check?

[2017-11-27 07:11] kochhar commented on #118
@harishgilimi what are the next steps for this issue?

[2017-11-27 09:36] ajinkya-k commented on #118
@kochhar I have narrowed down the error the `sendFeedback` method in `TelemetryV2Manager`. It is making a call to `createEvent` with empty EID which is the first parameter

The `sendFeedback` method definition:
[code]
The `createEvent` method signature
[code]

[2017-11-27 09:42] kochhar commented on #118
@vinukumar-vs @harishgilimi I believe the correct EID should be "OE_FEEDBACK". Could you please confirm?

[2017-11-27 11:13] Abhishek-Govula commented on #124
@kochhar I don't have a valid certificate right now, so I have disabled the check on the nodejs environment using `process.env.NODE_TLS_REJECT_UNAUTHORIZED = "0"`

I deleted the old realm and created a new realm again by following the documentation mentioned [here](https://github.com/project-sunbird/sunbird-commons/wiki/Keycloak-realm-configuration).

The certificate error is gone, but I am gettin

[2017-11-28 10:05] kochhar commented on #124
No we are not using a self-signed certificate. We have a wildcard cert which applies to dev domain also.

[2017-11-28 10:37] harishgilimi commented on #124
@Abhishek-Govula can you check the mongodb config in portal, is it running and connected ?

[2017-11-28 12:14] Sunitashelar commented on #119
Adding  glossary to Sunbird documentation website

[2017-11-28 15:14] Abhishek-Govula commented on #124
@harishgilimi Mongodb is running and also storing session data

[2017-11-29 06:40] harishgilimi commented on #124
@Abhishek-Govula can we have hangout call to figure it out, i see the keycloak node module is not storing authtoken in session.
cc: @coolbung @kochhar

[2017-11-30 07:11] navaneeth commented on #117
Can you share the full event?

[2017-11-30 10:42] ajinkya-k opened #126 "OE_START events are sending null in etags.dims"
A number of errors in sending the OE_x telemetry events. When a telemetry POST call is made, the following response is received by Chrome. This is the response body(copied from Chrome Developer Console):

[code]

[2017-12-01 05:21] vinukumar-vs commented on #118
@kochhar
As I commented above, Genie-Canvas(ContentRenderer) is not logging any OE_FEEDBACK event(from end page rating). Content player is logging only GE_FEEDBACK when it is playing in mobile.

When the content is playing in portal(using ContentRenderer), there is no event generating feedback(OE_FEEDBACK) from the end-page as of now.

 @mathewjpallan @harishgilimi @anujtech46 @AmiableAnil @sferoz

[2017-12-01 07:19] kochhar commented on #118
@vinukumar-vs thanks for the confirmation that the eid should be OE_FEEDBACK. let's file a GenieCanvas bug.

[2017-12-01 09:51] Abhishek-Govula commented on #124
@harishgilimi Yes, please. Please let me know the time. Anytime is fine with me.

[2017-12-01 12:12] harishgilimi commented on #124
@Abhishek-Govula because of deployment i little busy today will do it on Monday at 10:30AM, is this time fine for you ?

[2017-12-01 13:12] Abhishek-Govula commented on #124
Yes. I am available. Please share your email id. I will send you hangout request

[2017-12-01 13:15] harishgilimi commented on #124
Thanks you @Abhishek-Govula  add me<harishg@ilimi.in> and Aswin<coolbung@gmail.com> in the request.

[2017-12-02 13:43] sujeetkrjaiswal opened #127 "Issue when fetching a plugin in the player"
When the player is trying to access

http://localhost:3000/content/preview/coreplugins/org.ekstep.toaster-1.0/renderer/libs/toaster.min.js??411&_=1512221710779

when /content/preview/* is proxied for 'https://staging.open-sunbird.org'
Getting the following errors:
[code]

Can someone help with the reason for this error and how to fix this?

[2017-12-04 05:57] harishgilimi commented on #124
@Abhishek-Govula  from hangout call i can see in browser url after auth there are two slashes
Eg: https://www.sunbird.com/auth//somthingElse

So the extra slash will give that issue please update **sunbird_portal_auth_server_url** without slash at the end
cc @kochhar @coolbung @vrayulu

[2017-12-04 06:45] Abhishek-Govula commented on #124
@harishgilimi . It's working now. Thanks for the help.

Please update the configuration file created by the automation script [`generate-config.sh` ](https://github.com/project-sunbird/sunbird-devops/blob/master/Installation.md#preparation). It is adding the extra slash in the end. Sample [file](https://github.com/project-sunbird/sunbird-devops/blob/master/ansible/inventories/sample/group_vars/sam

[2017-12-04 06:47] kochhar commented on #124
@Abhishek-Govula We'd welcome a pull-request with the fix.

[2017-12-07 10:15] ajinkya-k opened #128 "#bodhi "org.ekstep.quiz.app" is being sent in gdata instead of contentId"
@sferoz According to our discussion, `gdata` must contain the contentId value but Sunbird is sending `org.ekstep.quiz.app` as `gdata.id` in the OE_x telemetry events. See example below:

[code]

[2017-12-07 10:22] ajinkya-k opened #129 "#bodhi cdata and etags.dims"
Can you clarify what exactly is stored in `cdata` and `etags.dims`? Consider the following telemetry event:
[code]
What is the first entry in the `etags.dims`. The second entry is organisation ID but which organisation, the org of the accessor or the org that created the content? The third is channel, the fourth is courseId and and the last one is null which is an error. Please explain

[2017-12-07 11:13] kochhar commented on #127
@harishgilimi please take a look

[2017-12-07 11:17] #109 closed

[2017-12-07 11:18] #111 closed

[2017-12-07 11:19] #112 closed

[2017-12-07 11:19] #113 closed

[2017-12-07 11:19] #114 closed

[2017-12-07 11:19] #117 closed

[2017-12-07 11:20] #119 closed

[2017-12-07 11:20] #120 closed

[2017-12-07 11:20] #122 closed

[2017-12-07 11:20] #123 closed

[2017-12-07 11:21] #124 closed

[2017-12-07 11:21] #48 closed

[2017-12-07 11:22] #49 closed

[2017-12-07 11:22] #50 closed

[2017-12-07 11:22] #45 closed

[2017-12-07 11:22] #46 closed

[2017-12-07 11:22] #47 closed

[2017-12-07 11:23] #56 closed

[2017-12-07 11:23] #41 closed

[2017-12-07 11:24] #34 closed

[2017-12-07 11:25] #63 closed

[2017-12-07 11:25] #26 closed

[2017-12-08 07:18] harishgilimi commented on #129
@ajinkya-k
as per above event data **cdata** contains courseId and contentId  because you are playing content, which is a part of a course
**etags.dims** are org ids the user belongs including accessor and courseId and batchHashTagId

[2017-12-08 09:15] kochhar commented on #127
@vinukumar-vs please seems like there is an error in loading plugins.

[2017-12-08 09:19] vinukumar-vs commented on #127
There is an issue in ContentRenderer while bundling the plugins. We will address this issue in this Dec release.

@kochhar @harishgilimi

[2017-12-08 09:48] kochhar commented on #127
@vinukumar-vs is there an interim workaround?

[2017-12-08 10:31] harishgilimi commented on #128
@vinukumar-vs it seems telemetry generated in renderer is incorrect please look into  it

[2017-12-08 10:33] ajinkya-k commented on #129
@ harishgilimi What do the first(01231213836359270434) and last(null) entry mean? Also that the last entry is null is a bug

[2017-12-08 11:17] harishgilimi commented on #129
@ajinkya-k  **01231213836359270434** is sub org under root org **ORG_001** and batchHashTagId is sent as null for course not belongs to a batch, the fix will be available in v1.3

[2017-12-08 11:19] ajinkya-k commented on #129
@harishgilimi v1.3 of what?
Also, could you share the complete specification and documentation of all events with explanation of each field?

[2017-12-08 11:21] harishgilimi commented on #129
@ajinkya-k v1.3 is tag after release same will be available in master brach too,

@kochhar please provide the documentation for events

[2017-12-11 05:54] sujeetkrjaiswal opened #130 "Errors in console while playing a Epub file"
While playing an Epub file on sunbird portal, there are multiple console errors.
Sample link for the Epub: https://staging.open-sunbird.org/private/index#!/content/do_2123250586661191681573/Sample%20epub#content%2Fdo_2123250586661191681573

Following are the 404 Errors:
[code]
the request for main.css file was done more than 20 times.

[2017-12-15 12:26] pranvendra opened #131 "Error while creating a new batch. #Bodhi"
Hi,

I am running instance on Sunbird on my server for the project bodhi. When I try to create new batch for a course, it is not getting reflected on the portal but the entry is visible in Cassandra and ElasticSearch. Below is the error I am getting in the log file of docker. I think this is something to do with my elasticsearch mapping.

[code]

[code]

[2017-12-16 08:47] ajinkya-k commented on #129
@harishgilimi what is stored in cdata if some content is used in more than one course, also what is stored in etags.dims in this case?

[2017-12-16 11:19] ajinkya-k opened #132 "#bodhi timeStamp issue in OE_START and OE_END"
In the sunbird-portal telemetry, when `OE_START` is created and a corresponding `OE_END` is pushed to the `TelemetryV2Manager._end` queue, the time that is stored as `ets` in `OE_START` is different from the time that is stored in the queue OE_END event that is used to calculate the `edata.eks.length` when the `OE_END` event is actually fired. As a result, the actual time spent on the content is m

[2017-12-16 14:25] kochhar commented on #131
Could you please give the steps to reproduce this error?

On 15-Dec-2017 5:56 pm, "pranvendra" <notifications@github.com> wrote:

[2017-12-18 10:50] kochhar commented on #132
Thanks for the bug report @ajinkya-k. Could you please submit a PR for the fix? Thanks!

[2017-12-18 10:51] #132 closed

[2017-12-18 10:51] kochhar commented on #132
Issue moved to [project-sunbird/sunbird-portal #161](https://github.com/project-sunbird/sunbird-portal/issues/161) via [**ZenHub**](https://www.zenhub.com/)

[2017-12-18 10:53] kochhar commented on #130
@sujeetkrjaiswal Thanks for the report. Welcome a PR with a fix.

[2017-12-18 10:54] #130 closed

[2017-12-18 10:54] kochhar commented on #130
Issue moved to [project-sunbird/sunbird-portal #162](https://github.com/project-sunbird/sunbird-portal/issues/162) via [**ZenHub**](https://www.zenhub.com/)

[2017-12-18 10:54] kochhar commented on #128
@vinukumar-vs any update on this?

[2017-12-18 10:55] kochhar commented on #127
@vinukumar-vs could you please share a bug link here?

[2017-12-18 10:57] kochhar commented on #126
Thanks for the report @ajinkya-k. Welcome a PR with a fix.

[2017-12-18 10:57] #126 closed

[2017-12-18 10:57] kochhar commented on #126
Issue moved to [project-sunbird/sunbird-portal #163](https://github.com/project-sunbird/sunbird-portal/issues/163) via [**ZenHub**](https://www.zenhub.com/)

[2017-12-19 02:47] vinukumar-vs commented on #127
@kochhar
https://github.com/ekstep/Genie-Canvas/issues/1563

[2017-12-19 04:30] ajinkya-k opened #133 "#bodhi What is contentSession in cdata?"
In the CP_IMPRESSION telemetry data, the cdata contains an object with the key-value pair, `{"type":"contentSession", "id":"1a7be4fcbce0aa9078fff5bb91aa2d74"}`

refer to:
[code]
What is contentSession. Also I could not find any specification/guide/documentation for properly understanding cdata and etags. Please provide the same

[2017-12-19 05:31] vinukumar-vs commented on #128
@kochhar We have taken this as part of Dec release and pushed to QA.

[2017-12-29 06:01] pranvendra commented on #131
1. Open the portal as a content creator.
2. Create some content.
3. Open the course that has been created.
4. Now, create a batch for that course.
5. We get a message on screen saying that the batch has been successfully created.

 **But while displaying the course it is not getting displayed and in log files above error is displayed.**

[2018-01-01 06:16] #102 closed

[2018-01-05 07:37] nawabahmadreshi opened #134 "#Bodhi Uploading HTML zip file"
https://github.com/project-sunbird/project-sunbird.github.io/issues/164

[2018-01-08 07:13] Kavya1403 opened #135 "#Bodhi Staging API's not working"
The sunbird staging API's are not working. It's throwing a bad request

[2018-01-08 09:16] Kavya1403 opened #136 "#Bodhi"
Sunbird Staging API's are throwing unauthorized error.

[2018-01-08 10:15] kochhar commented on #136
Unfortunately, sunbird staging APIs do not have any uptime guarantee. This is documented in the setup instructions. If this is a blocking issue, we suggest following the remaining [instructions to deploy your own API services](http://www.sunbird.org/developer-docs/installation/deploy_sb_services/)

[2018-01-08 10:15] #136 closed

[2018-01-08 10:15] kochhar commented on #135
Duplicate of https://github.com/project-sunbird/sunbird-commons/issues/136

[2018-01-08 10:15] #135 closed

[2018-01-10 08:47] bachia opened #137 "Sunbird Installation - DB Initialization - Loading CSV files"
The above instruction from installation docs (http://www.sunbird.org/developer-docs/installation/setup_db/) is not very clear on where to load these CSV files. Is it possible to provide details about how to load these files also?

Thank you.

@Manojvv @kochhar @mathewjpallan @rjshrjndrn

[2018-01-10 08:53] santhosh-optit commented on #137
We have to update the documentation (http://www.sunbird.org/developer-docs/installation/setup_db/). Its done automatically through ansible scripts. You don't need to load them manually

[2018-01-10 08:54] bachia commented on #137
Great. Thank you.

[2018-01-10 09:08] bachia opened #138 "Sunbird Installation - KeyCloak server installation"
Documentation doesn't clearly specify on which server (db server / app server) KeyCloak software should be installed.

http://www.sunbird.org/developer-docs/installation/keycloak_realm_configuration/

Where should this software be installed?

@kochhar @Manojvv @mathewjpallan @rjshrjndrn

[2018-01-10 09:20] Manojvv commented on #138
It can be installed on any server(db server/app server). Preferred is app server.

Will update the docs, thanks.

[2018-01-10 09:21] bachia commented on #138
Thank you @Manojvv

I believe we have to install Java also right? Any particular version that I should be installing so that the same version is compatible with Sunbird services also?

[2018-01-10 09:40] Manojvv commented on #138
Openjdk-8  is installed via script. You dont need to install manually for keycloak. For the sunbird services java is installed inside the docker.

[2018-01-10 09:42] bachia commented on #138
Thanks again @Manojvv

But as per documentation, the app server was not prepped at all. I am trying to install keycloak on app server. So I guess I need to install openjdk-8 manually because no script was run so far. Please confirm.

[2018-01-10 09:50] Manojvv commented on #138
Under this file : http://www.sunbird.org/developer-docs/installation/deploy_sb_services/
 Under the `Keycloak provisioning` RUN ./provision-keycloak.sh <implementation-name>-devops/ansible/inventories/<environment-name>

will install the java. Document is still having some issues.  @rjshrjndrn Please check the document of keycloak.

[2018-01-11 03:34] bachia commented on #138
Thank you @Manojvv

Basically, I have to deploy_sb_services after initializing dbs I suppose. I was just following the installation instructions line by line. I understand that it is still work in progress.

[2018-01-11 09:14] nawabahmadreshi commented on #138
@bachia ,
FYI
the sidebar is a logical sequence of installation process
Medium Scale Deployment
Provisioning Servers
Setup Databases
      Preparation to Setup Databases
      Create Databases using automation
      Create Databases Manually
      Initialize Databases
Configure Keycloak
Deploying Sunbird Services
Customizing Assets
Check Installation

Will definitely tweak the content to ensure th

[2018-01-11 10:00] SMYALTAMASH opened #139 "SunBird Laptop Manual Installation- Editing environmentVariablesHelper.js and connecting to SunBird Portal"
i'm trying to launch a SunBird App by following the documentations in the "http://www.sunbird.org/developer-docs/installation/installing_sunbirdon_laptop/" but i'm unable to connect to sunbird Portal, can you provide some details as to what needs to be configured in environmentVariablesHelper.js file and how do i connect to SunBird Portal with it by providing Some Sample Data, Below is the Documen

[2018-01-11 10:06] bachia opened #140 "Sunbird Installation - error while deploying apis"
Encountered following errors while running `deploy-apis.sh` script

skipping: no hosts matched

PLAY [swarm-manager] ********************************************************************************************************************
skipping: no hosts matched

@Manojvv @kochhar @mathewjpallan

[2018-01-11 10:29] Manojvv commented on #140
@bachia Can you please share the `deploy-api.sh ` script command which you ran.

[2018-01-11 10:31] bachia commented on #140
My bad @Manojvv

Now that you had asked, I realize the path give was different. Apologies.

Closing the issue.

[2018-01-11 10:31] #140 closed

[2018-01-11 10:56] bachia commented on #138
@nawabahmadreshi Thank you.

But I believe "Configure Keycloak" should come after "Deploying Sunbird Services". You may make a note of it and change the documentation as appropriate.

@Manojvv got the following error while deploying keyclock `deploy-keycloak-vm.sh`

@Sunitashelar @mathewjpallan @kochhar

[2018-01-11 10:58] #137 closed

[2018-01-11 14:04] rjshrjndrn commented on #138
@bachia
deploy-keycloak-vm.sh should work now. Changed the theme field from mandatory to optional.
please pull the master and try once.

Regards,
Rajesh

[2018-01-11 14:09] nawabahmadreshi commented on #138
@rjshrjndrm

Request you to kindly update the corresponding documentation page on sunbird doc website

[2018-01-11 14:33] bachia commented on #138
@rjshrjndrn

Looks like one more variable is having an issue. Details below :

...ignoring

TASK [keycloak : XML file] **************************************************************************************************************
fatal: [localhost]: FAILED! => {"changed": false, "msg": "AnsibleUndefinedVariable: 'keycloak_postgres_host' is undefined"}

[2018-01-11 17:20] Manojvv commented on #138
Hi @bachia , Can you please check the `keycloak_postgres_host` variable in `<implementation-name>-devops/ansible/inventories/<environment-name> ` set or not. Also please share the screenshot of error if possible.

[2018-01-12 00:33] bachia commented on #138
@Manojvv

Yes, the variable is set to private IP address of DB server

Here is the full screenshot
![screen shot 2018-01-12 at 6 00 09 am](https://user-images.githubusercontent.com/2817641/34854214-4d8deff0-f75e-11e7-8044-f47bbcf9460c.png)
 of the output of the script.

[2018-01-12 03:23] Manojvv commented on #138
@bachia Thanks for  sharing the screenshots ,Above error is bit strange, as the variable is passed on group_vars still the error is coming.  I just cross verified in my test environment script  worked fine.

For debugging purpose , can you please share output of below commands .

1) Full command ran for `deploy-keycloak-vm.sh`
2)`git status` inside sunbird-devops folder.
2) `git branch` inside sun

[2018-01-12 03:28] rjshrjndrn commented on #138
@bachia
Hi, copying artifacts will fail because you haven't specified any custom theme path for keycloak.
But still that step is not necessory. please have a look at this [commit](https://github.com/project-sunbird/sunbird-devops/commit/6de2df77ce777d91688da8c452055452f1c073b1#diff-2eef66ad88de9b6ec285f04d8e2cd7fd), as from now on keycloak will skip copying themes, if no custom themes are specifie

[2018-01-12 03:29] rjshrjndrn commented on #138
@bachia  Please pull the latest master branch.

Regards,
Rajesh.

[2018-01-12 04:26] bachia commented on #138
@Manojvv

Here are the details you had asked for

deploy-keycloak-vm.sh command
`sudo ./deploy-keycloak-vm.sh sl-dev-devops/ansible/inventories/`

`git status` output

![screen shot 2018-01-12 at 9 50 45 am](https://user-images.githubusercontent.com/2817641/34859783-a1bebb2a-f77e-11e7-86df-83dad1c569f9.png)

`git branch` output

![screen shot 2018-01-12 at 9 51 00 am](https://user-images.githubuse

[2018-01-12 04:40] Manojvv commented on #138
@bachia
in the command which you shared above  ,, please check arguement path once, missing `<environment-name>` at end.

for example "sudo ./deploy-keycloak-vm.sh sl-dev-devops/ansible/inventories/dev"

[2018-01-12 04:48] bachia commented on #138
@Manojvv

I just followed what is there in the install instructions.

http://www.sunbird.org/developer-docs/installation/deploy_sb_services/

Looks like what you had suggested is missing. Let me try with the env and get back to you.

[2018-01-12 04:52] bachia commented on #138
@Manojvv back to following error

`sudo ./deploy-keycloak-vm.sh sl-dev-devops/ansible/inventories/development/`

[2018-01-12 04:54] Manojvv commented on #138
@rjshrjndrn Please note all the points above, and update the document.

@bachia  Please pull again latest and try.

[2018-01-12 04:57] bachia commented on #138
@Manojvv no luck same error

[2018-01-12 05:10] Manojvv commented on #138
@bachia Sorry for inconvenience, Please pull again and try again.

[2018-01-12 05:13] bachia commented on #138
@Manojvv it worked this time. Moving on to next step.

[2018-01-12 05:37] bachia commented on #138
@rjshrjndrn @Manojvv

keycloak auth url works now. But I am unable to get to login page because, keycloak is expecting HTTPS whereas I am accessing using HTTP

Any ideas?

[2018-01-12 05:48] bachia commented on #138
@rjshrjndrn @Manojvv

I did a fix in the keycloak DB to allow HTTP connections to admin. Now I am able to login and moving on to next step of configuring the sunbird realm. But this should be addressed as part of keycloak deployment.

[2018-01-12 05:53] rjshrjndrn commented on #138
@bachia
You have to deploy proxy because keycloak won't allow HTTP connections as you mentioned above.
After deploying proxy, https://proxy-dns-name/auth will take you to the admin console.

Regards,
Rajesh

[2018-01-12 05:57] bachia commented on #138
@rjshrjndrn you are suggesting that I run `deply-proxy.sh` script before configuring keycloak realm?

[2018-01-12 05:58] rjshrjndrn commented on #138
@bachia
Yes, please.

[2018-01-12 06:08] bachia commented on #138
@rjshrjndrn confirmed working. I updated the value in keycloak database back to default i.e., SSL required and ran `deploy-proxy.sh` script. I am able to access keycloak admin interface without using HTTP and also on port 80. Thanks for your help.

Please make sure documentation is updated so that people like me don't run into these issues.

Closing this issue.

@nawabahmadreshi @Sunitashelar @Man

[2018-01-12 06:08] #138 closed

[2018-01-12 07:11] bachia opened #141 "Sunbird customization - Unable to use custom logo etc"
Followed instructions provided here

http://www.sunbird.org/developer-docs/installation/cust_sunbird/

Made appropriate changes i.e., set the `player_tenant_dir `

`player_tenant_dir: /home/sluser/data/extensions/tenant`

Changed the folder permissions as suggested.

![screen shot 2018-01-12 at 12 40 15 pm](https://user-images.githubusercontent.com/2817641/34863497-c90460ce-f795-11e7-8dce-ba827e7e

[2018-01-12 09:13] Manojvv commented on #141
@bachia
Just small clarification, Are you using source code for  sunbird-portal or deploying using docker image?

If you are using source code, You need to copy the tenant folder manually. And set the `sunbird_default_tenant`(default vaule is sunbird) environment variable to your tenant folder name. Restart the player service.

If you are using the docker service deployment,
In the `{implementatio

[2018-01-12 10:29] bachia commented on #141
@Manojvv

thank you. It works now. Had to set the value of `player_tenant_dir` also. That did the trick. Looks like this instruction needs to go to documentation as well.

Closing this issue.

@nawabahmadreshi

[2018-01-12 10:29] #141 closed

[2018-01-17 09:57] rjshrjndrn commented on #139
@harishgilimi can you please check this?

[2018-01-19 09:25] harishgilimi commented on #139
@SMYALTAMASH  please run you are app on port 3000 , let me know if you still face issue

[2018-01-19 12:03] SMYALTAMASH commented on #139
I ran the app on port serverIP:3000 itself.

On 19 Jan 2018 2:55 pm, "harishkumar gangula" <notifications@github.com>
wrote:

[2018-02-01 12:53] pranvendra opened #142 "Database Backup Mechanism #Bodhi"
Hi,
I wanted to know how the backup of databases is taken on sunbird and what is the restoring process for the same. Moreover, if the backup is happening on regular basis.

[2018-02-02 10:44] #142 closed

[2018-02-02 10:44] kochhar commented on #142
Issue moved to [project-sunbird/sunbird-devops #26](https://github.com/project-sunbird/sunbird-devops/issues/26) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-02 10:45] #139 closed

[2018-02-02 10:45] kochhar commented on #139
Issue moved to [project-sunbird/sunbird-portal #221](https://github.com/project-sunbird/sunbird-portal/issues/221) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-02 10:46] #134 closed

[2018-02-02 12:01] #129 closed

[2018-02-02 12:01] kochhar commented on #129
Issue moved to [project-sunbird/sunbird-portal #224](https://github.com/project-sunbird/sunbird-portal/issues/224) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-02 12:01] kochhar commented on #128
@ajinkya-k please verify in the new release.

[2018-02-02 12:01] #128 closed

[2018-02-02 12:01] kochhar commented on #128
Issue moved to [project-sunbird/sunbird-portal #225](https://github.com/project-sunbird/sunbird-portal/issues/225) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-02 12:02] #127 closed

[2018-02-02 12:02] kochhar commented on #127
Issue moved to [project-sunbird/sunbird-portal #226](https://github.com/project-sunbird/sunbird-portal/issues/226) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-02 12:02] #118 closed

[2018-02-02 12:02] kochhar commented on #118
Issue moved to [project-sunbird/sunbird-portal #227](https://github.com/project-sunbird/sunbird-portal/issues/227) via [**ZenHub**](https://www.zenhub.com/)

[2018-02-02 12:02] #29 closed